workflows/sales/tner-admin-dashboard.json
{
  "name": "TNER | Admin | dashboard",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "admin/conversations",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Admin Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        240,
        400
      ],
      "webhookId": "tner-admin"
    },
    {
      "parameters": {
        "jsCode": "// Parse query parameters\nconst query = $input.first().json.query || {};\n\nreturn [{\n  json: {\n    date_from: query.date_from || null,\n    date_to: query.date_to || null,\n    status: query.status || null,\n    phone: query.phone || null,\n    order_created: query.order_created || null\n  }\n}];"
      },
      "id": "parse-params",
      "name": "Parse Query Parameters",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Build dynamic SQL query based on filters\nconst filters = $input.first().json;\nconst conditions = ['1=1'];\n\nif (filters.date_from) {\n  conditions.push(`started_at >= '${filters.date_from}'`);\n}\nif (filters.date_to) {\n  conditions.push(`started_at <= '${filters.date_to}'`);\n}\nif (filters.status) {\n  conditions.push(`status = '${filters.status}'`);\n}\nif (filters.phone) {\n  conditions.push(`customer_phone LIKE '%${filters.phone}%'`);\n}\nif (filters.order_created !== null) {\n  conditions.push(`order_created = ${filters.order_created}`);\n}\n\nconst whereClause = conditions.join(' AND ');\nconst query = `SELECT * FROM conversations WHERE ${whereClause} ORDER BY last_message_at DESC LIMIT 50`;\n\nreturn [{ json: { query } }];"
      },
      "id": "build-query",
      "name": "Build SQL Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {}
      },
      "id": "get-conversations",
      "name": "Get Conversations",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        900,
        400
      ],
      "credentials": {
        "supabaseApi": {
          "id": "REDACTED",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Generate HTML dashboard\nconst conversations = $input.all();\n\nconst html = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Tner - Conversation Dashboard</title>\n  <style>\n    * { margin: 0; padding: 0; box-sizing: border-box; }\n    body { \n      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial, sans-serif;\n      background: #f5f7fa;\n      padding: 20px;\n    }\n    .header {\n      background: linear-gradient(135deg, #32a9f9 0%, #0e95ff 100%);\n      color: white;\n      padding: 30px;\n      border-radius: 12px;\n      margin-bottom: 30px;\n      box-shadow: 0 4px 12px rgba(50, 169, 249, 0.3);\n    }\n    .header h1 { margin-bottom: 10px; }\n    .stats {\n      display: grid;\n      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));\n      gap: 15px;\n      margin-bottom: 30px;\n    }\n    .stat-card {\n      background: white;\n      padding: 20px;\n      border-radius: 8px;\n      box-shadow: 0 2px 8px rgba(0,0,0,0.1);\n    }\n    .stat-card h3 { color: #666; font-size: 0.9em; margin-bottom: 8px; }\n    .stat-card .value { color: #32a9f9; font-size: 2em; font-weight: bold; }\n    .conversation {\n      background: white;\n      margin: 15px 0;\n      padding: 20px;\n      border-radius: 8px;\n      box-shadow: 0 2px 8px rgba(0,0,0,0.1);\n      transition: transform 0.2s;\n    }\n    .conversation:hover { transform: translateY(-2px); box-shadow: 0 4px 16px rgba(0,0,0,0.15); }\n    .conv-header {\n      display: flex;\n      justify-content: space-between;\n      align-items: center;\n      margin-bottom: 15px;\n    }\n    .conv-title { font-size: 1.2em; font-weight: 600; color: #1f1f3a; }\n    .badge {\n      display: inline-block;\n      padding: 6px 12px;\n      border-radius: 20px;\n      font-size: 0.85em;\n      font-weight: 600;\n    }\n    .badge.active { background: #10ff8d; color: #1f1f3a; }\n    .badge.completed { background: #83cdff; color: #1f1f3a; }\n    .badge.abandoned { background: #ffd700; color: #1f1f3a; }\n    .meta { color: #666; font-size: 0.9em; margin: 8px 0; }\n    .meta-grid {\n      display: grid;\n      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));\n      gap: 10px;\n      margin: 10px 0;\n    }\n    .btn {\n      background: #32a9f9;\n      color: white;\n      border: none;\n      padding: 10px 20px;\n      border-radius: 6px;\n      cursor: pointer;\n      font-size: 0.9em;\n      transition: background 0.2s;\n    }\n    .btn:hover { background: #0e95ff; }\n    .messages {\n      display: none;\n      margin-top: 15px;\n      padding-top: 15px;\n      border-top: 2px solid #f0f0f0;\n    }\n    .message {\n      margin: 10px 0;\n      padding: 12px;\n      border-left: 3px solid #32a9f9;\n      border-radius: 4px;\n    }\n    .message.customer { background: #e3f2fd; }\n    .message.ai { background: #f1f8e9; border-left-color: #10ff8d; }\n    .filter-bar {\n      background: white;\n      padding: 20px;\n      border-radius: 8px;\n      margin-bottom: 20px;\n      box-shadow: 0 2px 8px rgba(0,0,0,0.1);\n    }\n    .filter-bar input, .filter-bar select {\n      padding: 8px 12px;\n      border: 1px solid #ddd;\n      border-radius: 6px;\n      margin-right: 10px;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"header\">\n    <h1>🎒 Tner Conversation Dashboard</h1>\n    <p>Monitor customer interactions and bookings</p>\n  </div>\n  \n  <div class=\"stats\">\n    <div class=\"stat-card\">\n      <h3>Total Conversations</h3>\n      <div class=\"value\">${conversations.length}</div>\n    </div>\n    <div class=\"stat-card\">\n      <h3>Active</h3>\n      <div class=\"value\">${conversations.filter(c => c.json.status === 'active').length}</div>\n    </div>\n    <div class=\"stat-card\">\n      <h3>Orders Created</h3>\n      <div class=\"value\">${conversations.filter(c => c.json.order_created).length}</div>\n    </div>\n    <div class=\"stat-card\">\n      <h3>Conversion Rate</h3>\n      <div class=\"value\">${conversations.length > 0 ? Math.round((conversations.filter(c => c.json.order_created).length / conversations.length) * 100) : 0}%</div>\n    </div>\n  </div>\n\n  <div class=\"filter-bar\">\n    <input type=\"date\" id=\"dateFrom\" placeholder=\"From Date\">\n    <input type=\"date\" id=\"dateTo\" placeholder=\"To Date\">\n    <select id=\"statusFilter\">\n      <option value=\"\">All Status</option>\n      <option value=\"active\">Active</option>\n      <option value=\"completed\">Completed</option>\n      <option value=\"abandoned\">Abandoned</option>\n    </select>\n    <input type=\"text\" id=\"phoneFilter\" placeholder=\"Search phone...\">\n    <button class=\"btn\" onclick=\"applyFilters()\">Apply Filters</button>\n    <button class=\"btn\" onclick=\"window.location.reload()\">Reset</button>\n  </div>\n  \n  ${conversations.map(conv => `\n    <div class=\"conversation\">\n      <div class=\"conv-header\">\n        <div class=\"conv-title\">${conv.json.customer_name || 'Unknown'}</div>\n        <span class=\"badge ${conv.json.status}\">${conv.json.status.toUpperCase()}</span>\n      </div>\n      <div class=\"meta-grid\">\n        <div class=\"meta\">📞 ${conv.json.customer_phone}</div>\n        <div class=\"meta\">📧 ${conv.json.customer_email || 'N/A'}</div>\n        <div class=\"meta\">💬 ${conv.json.total_messages} messages</div>\n        <div class=\"meta\">${conv.json.order_created ? '✅ Order Created' : '⏳ No Order'}</div>\n      </div>\n      <div class=\"meta\">\n        Started: ${new Date(conv.json.started_at).toLocaleString()}<br>\n        Last Activity: ${new Date(conv.json.last_message_at).toLocaleString()}\n      </div>\n      <button class=\"btn\" onclick=\"loadMessages('${conv.json.id}')\">View Messages</button>\n      <div id=\"messages-${conv.json.id}\" class=\"messages\"></div>\n    </div>\n  `).join('')}\n  \n  <script>\n    async function loadMessages(convId) {\n      const div = document.getElementById('messages-' + convId);\n      if (div.style.display === 'none' || !div.innerHTML) {\n        try {\n          const response = await fetch('/webhook/admin/messages?conversation_id=' + convId);\n          const messages = await response.json();\n          div.innerHTML = messages.map(msg => \\`\n            <div class=\"message \\${msg.sender}\">\n              <strong>\\${msg.sender === 'customer' ? '👤 Customer' : '🤖 AI Assistant'}:</strong><br>\n              \\${msg.message_text}\n              <div class=\"meta\">\\${new Date(msg.timestamp).toLocaleString()}</div>\n            </div>\n          \\`).join('');\n          div.style.display = 'block';\n        } catch (error) {\n          div.innerHTML = '<p style=\"color: red;\">Error loading messages</p>';\n        }\n      } else {\n        div.style.display = div.style.display === 'none' ? 'block' : 'none';\n      }\n    }\n    \n    function applyFilters() {\n      const params = new URLSearchParams();\n      const dateFrom = document.getElementById('dateFrom').value;\n      const dateTo = document.getElementById('dateTo').value;\n      const status = document.getElementById('statusFilter').value;\n      const phone = document.getElementById('phoneFilter').value;\n      \n      if (dateFrom) params.append('date_from', dateFrom);\n      if (dateTo) params.append('date_to', dateTo);\n      if (status) params.append('status', status);\n      if (phone) params.append('phone', phone);\n      \n      window.location.search = params.toString();\n    }\n  </script>\n</body>\n</html>\n`;\n\nreturn [{ json: { html } }];"
      },
      "id": "format-html",
      "name": "Format Dashboard HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        400
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html"
              }
            ]
          }
        }
      },
      "id": "respond",
      "name": "Send HTML Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1340,
        400
      ]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "admin/messages",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "messages-webhook",
      "name": "Messages Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        240,
        600
      ],
      "webhookId": "tner-admin-messages"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT sender, message_text, timestamp FROM conversation_messages WHERE conversation_id = '={{ $json.query.conversation_id }}' ORDER BY timestamp ASC",
        "options": {}
      },
      "id": "get-messages",
      "name": "Get Messages",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        460,
        600
      ],
      "credentials": {
        "supabaseApi": {
          "id": "REDACTED",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($input.all().map(i => i.json)) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-messages",
      "name": "Send Messages JSON",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        680,
        600
      ]
    }
  ],
  "connections": {
    "Admin Webhook": {
      "main": [
        [
          {
            "node": "Parse Query Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Query Parameters": {
      "main": [
        [
          {
            "node": "Build SQL Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build SQL Query": {
      "main": [
        [
          {
            "node": "Get Conversations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Conversations": {
      "main": [
        [
          {
            "node": "Format Dashboard HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Dashboard HTML": {
      "main": [
        [
          {
            "node": "Send HTML Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Messages Webhook": {
      "main": [
        [
          {
            "node": "Get Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Messages": {
      "main": [
        [
          {
            "node": "Send Messages JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "exportedAt": "2025-12-06T09:18:53.482Z",
    "n8nId": "3JvVWefQpsnwX1C7",
    "active": false,
    "note": "Credentials and secrets have been redacted. Re-configure in n8n after import."
  }
}