workflows/sales/tner-ai-customer-service.json
{
  "name": "Tner - AI Customer Service",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "id": "whatsapp-trigger",
      "name": "WhatsApp Trigger",
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        240,
        464
      ],
      "webhookId": "tner-whatsapp-trigger",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "REDACTED",
          "name": "WhatsApp Tner"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract WhatsApp message data\nconst body = $input.first().json.body || $input.first().json;\n\nreturn [{\n  json: {\n    from: body.from || body.From,\n    message: body.message || body.Body,\n    name: body.name || body.ProfileName || 'Customer',\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "parse-whatsapp",
      "name": "Parse WhatsApp Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        464
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery"
      },
      "id": "get-conversation",
      "name": "Get or Create Conversation",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        688,
        464
      ],
      "credentials": {
        "supabaseApi": {
          "id": "REDACTED",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery"
      },
      "id": "get-history",
      "name": "Get Conversation History",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        912,
        464
      ],
      "credentials": {
        "supabaseApi": {
          "id": "REDACTED",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "embed-query",
      "name": "Embed Customer Query",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        912,
        288
      ],
      "credentials": {
        "openAiApi": {
          "id": "REDACTED",
          "name": "HAW_AI_DESK_DEV"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery"
      },
      "id": "vector-search",
      "name": "RAG Vector Search",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1120,
        288
      ],
      "credentials": {
        "supabaseApi": {
          "id": "REDACTED",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Combine all context for AI\nconst customerData = $('Parse WhatsApp Data').first().json;\nconst ragResults = $('RAG Vector Search').all();\nconst historyData = $('Get Conversation History').all();\nconst conversationId = $('Get or Create Conversation').first().json.conversation_id;\n\n// Format RAG context\nconst relevantKnowledge = ragResults.length > 0 \n  ? ragResults.map((item, index) => {\n      const similarity = (item.json.similarity * 100).toFixed(1);\n      return `[Knowledge ${index + 1}] (Relevance: ${similarity}%)\\n${item.json.content}`;\n    }).join('\\n\\n')\n  : 'No specific product knowledge found for this query.';\n\n// Format conversation history\nconst historyText = historyData.length > 0\n  ? historyData\n      .reverse()\n      .map(msg => `${msg.json.sender === 'customer' ? 'Customer' : 'Assistant'}: ${msg.json.message_text}`)\n      .join('\\n')\n  : 'This is a new conversation.';\n\nreturn [{\n  json: {\n    conversation_id: conversationId,\n    customer_name: customerData.name,\n    customer_phone: customerData.from,\n    current_message: customerData.message,\n    relevant_knowledge: relevantKnowledge,\n    conversation_history: historyText,\n    has_history: historyData.length > 0\n  }\n}];"
      },
      "id": "format-context",
      "name": "Format AI Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        384
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "messages": {
          "values": [
            {
              "content": "You are Tner's AI luggage rental assistant. You help customers find the perfect luggage for their trips and complete bookings.\n\n**Your Knowledge Base:**\n{{ $json.relevant_knowledge }}\n\n**Conversation History:**\n{{ $json.conversation_history }}\n\n**Guidelines:**\n1. Be warm, helpful, and professional with a confident yet calm tone\n2. Ask clarifying questions about their trip: duration, destination, number of travelers, type of trip\n3. Recommend appropriate luggage based on their specific needs\n4. Clearly explain pricing, terms, and policies when relevant\n5. Keep responses concise but informative\n\n**When customer wants to book, collect these details:**\n- Full name\n- Email address  \n- Contact number\n- Delivery address in Singapore (full address with postal code)\n- Travel dates (start and end)\n- Selected luggage: 24\" Green ($1/day) or 28\" Black ($1.30/day)\n- Quantities needed\n- Delivery required? (Base $10 + $3 per additional luggage after first 2)\n\n**Once you have ALL booking details and customer confirms, respond with:**\nREADY_TO_BOOK\n```json\n{\n  \"customer\": {\n    \"name\": \"Full Name\",\n    \"email\": \"email@example.com\",\n    \"phone\": \"{{ $json.customer_phone }}\",\n    \"address\": \"Full address with postal code\"\n  },\n  \"order\": {\n    \"luggage_28\": {\"quantity\": 0, \"days\": 0},\n    \"luggage_24\": {\"quantity\": 0, \"days\": 0},\n    \"delivery_required\": true,\n    \"luggage_count\": 0,\n    \"rental_start\": \"YYYY-MM-DD\",\n    \"rental_end\": \"YYYY-MM-DD\",\n    \"delivery_date\": \"YYYY-MM-DD\",\n    \"delivery_time\": \"AM or PM\",\n    \"collection_date\": \"YYYY-MM-DD\",\n    \"collection_time\": \"AM or PM\"\n  },\n  \"pricing\": {\n    \"rental_total\": 0,\n    \"delivery_total\": 0,\n    \"grand_total\": 0\n  }\n}\n```\n\n**Current Customer Message:** {{ $json.current_message }}\n\nRespond naturally and helpfully.",
              "role": "system"
            },
            {
              "content": "={{ $json.current_message }}"
            }
          ]
        },
        "options": {
          "maxTokens": 500,
          "temperature": 0.7
        }
      },
      "id": "ai-agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.3,
      "position": [
        1568,
        384
      ],
      "credentials": {
        "openAiApi": {
          "id": "REDACTED",
          "name": "HAW_AI_DESK_DEV"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert"
      },
      "id": "save-customer-msg",
      "name": "Save Customer Message",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1792,
        288
      ],
      "credentials": {
        "supabaseApi": {
          "id": "REDACTED",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert"
      },
      "id": "save-ai-msg",
      "name": "Save AI Response",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1792,
        480
      ],
      "credentials": {
        "supabaseApi": {
          "id": "REDACTED",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.message.content }}",
              "operation": "contains",
              "value2": "READY_TO_BOOK"
            }
          ]
        }
      },
      "id": "check-booking",
      "name": "Check if Ready to Book",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2000,
        384
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract booking data from AI response\nconst aiResponse = $input.first().json.message.content;\n\n// Find JSON in response\nconst jsonMatch = aiResponse.match(/```json\\n([\\s\\S]*?)\\n```/);\n\nif (!jsonMatch) {\n  throw new Error('Could not parse booking data from AI response');\n}\n\nconst bookingData = JSON.parse(jsonMatch[1]);\n\n// Format for invoice creator webhook\nreturn [{ \n  json: {\n    source: 'whatsapp',\n    timestamp: new Date().toISOString(),\n    customer: bookingData.customer,\n    order: bookingData.order,\n    pricing: bookingData.pricing,\n    conversation_id: $('Format AI Context').first().json.conversation_id\n  } \n}];"
      },
      "id": "parse-booking",
      "name": "Format Booking Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2224,
        288
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.srv1081114.hstgr.cloud/webhook/tner-create-invoice",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "call-invoice-webhook",
      "name": "Call Invoice Creator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2448,
        288
      ],
      "notes": "Calls the TNER - Create Invoice workflow (ID: bVKmKScvSBpqbHfl)"
    },
    {
      "parameters": {
        "jsCode": "// Get response from invoice creator\nconst invoiceResponse = $input.first().json;\nconst bookingData = $('Format Booking Data').first().json;\n\nconst message = `✅ Booking Confirmed!\\n\\nInvoice: ${invoiceResponse.invoiceNumber}\\nTotal: $${invoiceResponse.total}\\n\\nWe've sent the invoice to ${bookingData.customer.email}\\n\\nDelivery: ${bookingData.order.delivery_date} (${bookingData.order.delivery_time})\\nCollection: ${bookingData.order.collection_date} (${bookingData.order.collection_time})\\n\\nPayment: PayNow to UEN 202238666K\\n\\nThank you for choosing Tner! 🎒`;\n\nreturn [{ json: { message, invoiceId: invoiceResponse.invoiceID, status: 'confirmed' } }];"
      },
      "id": "format-confirmation",
      "name": "Format Confirmation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2672,
        288
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.message }}",
        "options": {}
      },
      "id": "send-confirmation",
      "name": "Send Booking Confirmation",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2896,
        288
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $('AI Agent').item.json.message.content.replace('READY_TO_BOOK', '').replace(/```json[\\s\\S]*?```/, '').trim() }}",
        "options": {}
      },
      "id": "send-response",
      "name": "Send Chat Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2224,
        480
      ]
    }
  ],
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Parse WhatsApp Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse WhatsApp Data": {
      "main": [
        [
          {
            "node": "Get or Create Conversation",
            "type": "main",
            "index": 0
          },
          {
            "node": "Embed Customer Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get or Create Conversation": {
      "main": [
        [
          {
            "node": "Get Conversation History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embed Customer Query": {
      "main": [
        [
          {
            "node": "RAG Vector Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG Vector Search": {
      "main": [
        [
          {
            "node": "Format AI Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Conversation History": {
      "main": [
        [
          {
            "node": "Format AI Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format AI Context": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Save Customer Message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save AI Response": {
      "main": [
        [
          {
            "node": "Check if Ready to Book",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Ready to Book": {
      "main": [
        [
          {
            "node": "Format Booking Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Chat Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Booking Data": {
      "main": [
        [
          {
            "node": "Call Invoice Creator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Invoice Creator": {
      "main": [
        [
          {
            "node": "Format Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Confirmation": {
      "main": [
        [
          {
            "node": "Send Booking Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "exportedAt": "2025-12-06T05:32:08.849Z",
    "n8nId": "ii2Igwv8LDKsZeg2",
    "active": false,
    "note": "Credentials and secrets have been redacted. Re-configure in n8n after import."
  }
}