workflows/sales/tner-customer-service-whatsapp-rag-secure.json
{
  "name": "TNER | Customer-service | whatsapp-rag-secure",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tner-whatsapp-secure",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "WhatsApp Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst signature = $request.headers['x-hub-signature-256'];\nconst rawBody = $request.rawBody || JSON.stringify($request.body);\nconst appSecret = '438695b3eb62390d7cfa56a255b652df';\nconst expectedSignature = 'sha256=' + crypto.createHmac('sha256', appSecret).update(rawBody).digest('hex');\nif (!signature) {\n  console.error('⚠️ SECURITY: No signature header');\n  throw new Error('Missing signature');\n}\nif (signature !== expectedSignature) {\n  console.error('🚨 SECURITY: Invalid signature - ATTACK DETECTED');\n  throw new Error('Invalid signature');\n}\nconsole.log('✓ Signature verified');\nreturn { verified: true, body: $request.body };"
      },
      "id": "verify-signature",
      "name": "🔐 Verify Signature",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json.body;\nconst message = body.entry?.[0]?.changes?.[0]?.value?.messages?.[0];\nif (!message) return { error: 'No message' };\nreturn { userId: message.from, message: message.text?.body, messageId: message.id, timestamp: new Date().toISOString() };"
      },
      "id": "extract-message",
      "name": "Extract Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const userId = $input.item.json.userId;\nconst COST_LIMITS = { anonymous: 1.00, authenticated: 5.00 };\nconst OPERATION_COST = 0.005;\nreturn { userId, costLimit: COST_LIMITS.anonymous, operationCost: OPERATION_COST, message: $input.item.json.message, messageId: $input.item.json.messageId };"
      },
      "id": "prepare-cost",
      "name": "Prepare Cost Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT get_user_daily_cost('{{ $json.userId }}') as current_cost"
      },
      "id": "check-cost",
      "name": "Check Cost",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1050,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "REDACTED"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const currentCost = parseFloat($input.item.json.current_cost || 0);\nconst costLimit = $('Prepare Cost Check').item.json.costLimit;\nconst operationCost = $('Prepare Cost Check').item.json.operationCost;\nif (currentCost + operationCost > costLimit) throw new Error('Cost limit reached');\nreturn { userId: $('Prepare Cost Check').item.json.userId, message: $('Prepare Cost Check').item.json.message, operationCost };"
      },
      "id": "validate-cost",
      "name": "Validate Cost",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1250,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT get_or_create_conversation('{{ $json.userId }}', 'whatsapp') as conversation_id"
      },
      "id": "get-conversation",
      "name": "Get Conversation",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1450,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "REDACTED",
          "name": "supabase-tner"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "input",
              "value": "={{ $('Validate Cost').item.json.message }}"
            },
            {
              "name": "model",
              "value": "text-embedding-3-small"
            }
          ]
        }
      },
      "id": "generate-embedding",
      "name": "Generate Embedding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1650,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "REDACTED"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const embedding = $input.item.json.data[0].embedding;\nreturn { embedding: `[${embedding.join(',')}]`, message: $('Validate Cost').item.json.message, userId: $('Validate Cost').item.json.userId };"
      },
      "id": "format-embedding",
      "name": "Format Embedding",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1850,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM match_product_knowledge(query_embedding := '{{ $json.embedding }}'::vector, match_threshold := 0.35, match_count := 3)"
      },
      "id": "search-knowledge",
      "name": "Search Knowledge",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2050,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "REDACTED",
          "name": "supabase-tner"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const knowledge = $input.all();\nconst message = $('Format Embedding').item.json.message;\nconst context = knowledge.map(k => `[${k.json.category}] ${k.json.content}`).join('\\n\\n---\\n\\n');\nconst systemPrompt = `You are TNER Luggage Rental AI assistant in Singapore.\\n\\nUse this knowledge:\\n${context}\\n\\nBe friendly and helpful. Pricing: Medium $1/day, Large $1.30/day. Delivery $20 or Self-collect FREE at 113 Eunos Ave 3. For more help, customers can WhatsApp us at +65 8684 6191 or email Shop@tner.sg.`;\nreturn { systemPrompt, userMessage: message };"
      },
      "id": "build-context",
      "name": "Build Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2250,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-4o-mini"
            },
            {
              "name": "messages",
              "value": "={{ [{role: 'system', content: $json.systemPrompt}, {role: 'user', content: $json.userMessage}] }}"
            },
            {
              "name": "max_tokens",
              "value": 200
            }
          ]
        }
      },
      "id": "generate-ai",
      "name": "Generate AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2450,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "REDACTED",
          "name": "openai"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return { to: $('Format Embedding').item.json.userId, message: $input.item.json.choices[0].message.content };"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2650,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v18.0/892291267291974/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{ $json.to }}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text",
              "value": "={{ {body: $json.message} }}"
            }
          ]
        }
      },
      "id": "send-whatsapp",
      "name": "Send WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2850,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REDACTED"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "conversation_messages",
        "data": {
          "conversation_id": "={{ $('Get Conversation').item.json.conversation_id }}",
          "sender": "assistant",
          "message_text": "={{ $('Format Response').item.json.message }}"
        }
      },
      "id": "store-ai-message",
      "name": "Store AI Message",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2850,
        500
      ],
      "credentials": {
        "supabaseApi": {
          "id": "REDACTED",
          "name": "supabase-tner"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT increment_user_cost('{{ $('Validate Cost').item.json.userId }}', {{ $('Validate Cost').item.json.operationCost }}, 'ai_message') as new_total"
      },
      "id": "track-cost",
      "name": "Track Cost",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2850,
        700
      ],
      "credentials": {
        "supabaseApi": {
          "id": "REDACTED",
          "name": "supabase-tner"
        }
      }
    }
  ],
  "connections": {
    "WhatsApp Webhook": {
      "main": [
        [
          {
            "node": "🔐 Verify Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔐 Verify Signature": {
      "main": [
        [
          {
            "node": "Extract Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Message": {
      "main": [
        [
          {
            "node": "Prepare Cost Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Cost Check": {
      "main": [
        [
          {
            "node": "Check Cost",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Cost": {
      "main": [
        [
          {
            "node": "Validate Cost",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Cost": {
      "main": [
        [
          {
            "node": "Get Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Conversation": {
      "main": [
        [
          {
            "node": "Generate Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Embedding": {
      "main": [
        [
          {
            "node": "Format Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Embedding": {
      "main": [
        [
          {
            "node": "Search Knowledge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Knowledge": {
      "main": [
        [
          {
            "node": "Build Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Context": {
      "main": [
        [
          {
            "node": "Generate AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate AI": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Send WhatsApp",
            "type": "main",
            "index": 0
          },
          {
            "node": "Store AI Message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Track Cost",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "executionTimeout": 3600,
    "timezone": "UTC",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "exportedAt": "2025-12-06T09:18:53.483Z",
    "n8nId": "8n8xqisIniv0cXNf",
    "active": true,
    "note": "Credentials and secrets have been redacted. Re-configure in n8n after import."
  }
}