workflows/sales/tner-finance-learn-vendor-patterns.json
{
  "name": "TNER | Finance | learn-vendor-patterns",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "When clicking Execute Workflow",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.xero.com/connections",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "xeroOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        }
      },
      "id": "get-connections",
      "name": "Get All Xero Organizations",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        460,
        300
      ],
      "credentials": {
        "xeroOAuth2Api": {
          "id": "REDACTED",
          "name": "Xero account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const connections = $input.all();\nconst alwcConnection = connections.find(conn => conn.json.tenantName && conn.json.tenantName.toUpperCase().includes('ALWC'));\nif (!alwcConnection) { throw new Error('ALWC Pte Ltd organization not found in connections!'); }\nconst tenantId = alwcConnection.json.tenantId;\nreturn [{ json: { tenantId } }];"
      },
      "id": "find-alwc",
      "name": "Find ALWC Tenant ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.xero.com/api.xro/2.0/BankTransactions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "xeroOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xero-tenant-id",
              "value": "={{ $json.tenantId }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        }
      },
      "id": "get-all-txns",
      "name": "Get All Bank Transactions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        900,
        300
      ],
      "credentials": {
        "xeroOAuth2Api": {
          "id": "REDACTED",
          "name": "Xero account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const transactions = $json.BankTransactions || [];\n\n// Show raw structure of first 3 reconciled transactions for debugging\nconst reconciledTxns = transactions.filter(t => t.IsReconciled);\nconst sampleRaw = reconciledTxns.slice(0, 3).map(txn => ({\n  BankTransactionID: txn.BankTransactionID,\n  Date: txn.Date,\n  Contact: txn.Contact,\n  Reference: txn.Reference,\n  Total: txn.Total,\n  Status: txn.Status,\n  IsReconciled: txn.IsReconciled,\n  LineItems: txn.LineItems,\n  BankAccount: txn.BankAccount,\n  Type: txn.Type\n}));\n\nconsole.log('Sample transactions:', JSON.stringify(sampleRaw, null, 2));\n\n// Extract vendor patterns from actual reconciled transactions\nconst vendorPatterns = {};\nconst accountUsage = {};\n\nfor (const txn of reconciledTxns) {\n  const contact = txn.Contact?.Name || '';\n  const reference = txn.Reference || '';\n  const lineItems = txn.LineItems || [];\n  \n  // Extract vendor name\n  const vendor = contact || reference.split(' ')[0] || 'Unknown';\n  \n  if (!vendor || vendor === 'Unknown') continue;\n  \n  // Check each line item for account code\n  for (const item of lineItems) {\n    const accountCode = item.AccountCode || '';\n    const description = item.Description || '';\n    const amount = item.LineAmount || 0;\n    \n    console.log(`Vendor: ${vendor} | Account: ${accountCode} | Desc: ${description} | Amount: ${amount}`);\n    \n    if (!accountCode) continue;\n    \n    // Track vendor -> account code mapping\n    if (!vendorPatterns[vendor]) {\n      vendorPatterns[vendor] = {};\n    }\n    if (!vendorPatterns[vendor][accountCode]) {\n      vendorPatterns[vendor][accountCode] = 0;\n    }\n    vendorPatterns[vendor][accountCode]++;\n    \n    // Track account code usage\n    if (!accountUsage[accountCode]) {\n      accountUsage[accountCode] = {\n        count: 0,\n        totalAmount: 0,\n        vendors: new Set(),\n        descriptions: []\n      };\n    }\n    accountUsage[accountCode].count++;\n    accountUsage[accountCode].totalAmount += Math.abs(amount);\n    accountUsage[accountCode].vendors.add(vendor);\n    if (description && accountUsage[accountCode].descriptions.length < 5) {\n      accountUsage[accountCode].descriptions.push(description);\n    }\n  }\n}\n\n// Generate vendor -> account code rules\nconst vendorRules = {};\nfor (const [vendor, accounts] of Object.entries(vendorPatterns)) {\n  const sortedAccounts = Object.entries(accounts).sort((a, b) => b[1] - a[1]);\n  if (sortedAccounts.length > 0) {\n    const [accountCode, count] = sortedAccounts[0];\n    vendorRules[vendor] = {\n      accountCode,\n      occurrences: count,\n      confidence: sortedAccounts.length === 1 ? 'HIGH' : 'MEDIUM'\n    };\n  }\n}\n\n// Format account usage summary\nconst accountSummary = Object.entries(accountUsage)\n  .sort((a, b) => b[1].count - a[1].count)\n  .map(([code, data]) => ({\n    accountCode: code,\n    transactionCount: data.count,\n    totalAmount: data.totalAmount.toFixed(2),\n    uniqueVendors: Array.from(data.vendors).join(', '),\n    sampleDescriptions: data.descriptions.slice(0, 3).join(' | ')\n  }));\n\nconst summary = `📊 TNER Vendor Pattern Analysis\\n\\n**Learned from ${reconciledTxns.length} reconciled transactions**\\n\\n**Top Vendors (by frequency):**\\n${Object.entries(vendorRules).sort((a, b) => b[1].occurrences - a[1].occurrences).slice(0, 10).map(([vendor, rule]) => `• ${vendor} → ${rule.accountCode} (${rule.occurrences}x, ${rule.confidence} confidence)`).join('\\n') || 'No vendor patterns found - account codes may be missing'}\\n\\n**Account Code Usage:**\\n${accountSummary.slice(0, 8).map(acc => `• ${acc.accountCode}: ${acc.transactionCount} txns, $${acc.totalAmount}\\n  Vendors: ${acc.uniqueVendors}\\n  Sample: ${acc.sampleDescriptions}`).join('\\n\\n') || 'No account codes found in transactions'}`;\n\nconsole.log(summary);\n\nreturn [{ json: { summary, vendorRules, accountSummary, sampleRawTransactions: sampleRaw, totalTransactions: transactions.length, reconciledCount: reconciledTxns.length } }];"
      },
      "id": "analyze-patterns",
      "name": "Analyze Vendor Patterns",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ]
    }
  ],
  "connections": {
    "When clicking Execute Workflow": {
      "main": [
        [
          {
            "node": "Get All Xero Organizations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Xero Organizations": {
      "main": [
        [
          {
            "node": "Find ALWC Tenant ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find ALWC Tenant ID": {
      "main": [
        [
          {
            "node": "Get All Bank Transactions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Bank Transactions": {
      "main": [
        [
          {
            "node": "Analyze Vendor Patterns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "executionTimeout": 3600,
    "timezone": "UTC",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "exportedAt": "2025-12-06T09:18:53.491Z",
    "n8nId": "kTbjZqFB2Uqkwvdd",
    "active": false,
    "note": "Credentials and secrets have been redacted. Re-configure in n8n after import."
  }
}