workflows/sales/tner-whatsapp-customer-service.json
{
  "name": "TNER - WhatsApp Customer Service",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "id": "trigger",
      "name": "WhatsApp Trigger",
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        240,
        560
      ],
      "webhookId": "2c70190e-bf9d-414f-a08c-95dfdf7ee1cc",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "REDACTED",
          "name": "86846191"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const msg = $input.first().json.messages[0];\nreturn [{json: {from: msg.from, name: msg.profile?.name || 'Customer', message: msg.text.body, timestamp: new Date().toISOString()}}];"
      },
      "id": "parse",
      "name": "Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        560
      ]
    },
    {
      "parameters": {
        "jsCode": "const msg = $json.message.toLowerCase();\nconst orderKeywords = ['rent', 'book', 'order', 'reserve', 'i want', 'confirm'];\nconst isOrder = orderKeywords.some(kw => msg.includes(kw));\nreturn [{json: {...$json, is_order: isOrder}}];"
      },
      "id": "detect",
      "name": "Detect Intent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.is_order }}",
              "value2": true
            }
          ]
        }
      },
      "id": "split",
      "name": "Order?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        780,
        560
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\"model\": \"gpt-4o-mini\", \"messages\": [{\"role\": \"system\", \"content\": \"Extract order details as JSON: {\\\"luggage_size\\\": \\\"medium/large\\\", \\\"quantity\\\": number, \\\"days\\\": number, \\\"start_date\\\": \\\"YYYY-MM-DD\\\", \\\"end_date\\\": \\\"YYYY-MM-DD\\\", \\\"delivery\\\": true/false, \\\"address\\\": \\\"string\\\"}. Use null if missing.\"}, {\"role\": \"user\", \"content\": $json.message}], \"response_format\": {\"type\": \"json_object\"}, \"max_tokens\": 150} }}",
        "options": {}
      },
      "id": "extract",
      "name": "Extract Order",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        980,
        460
      ],
      "credentials": {
        "openAiApi": {
          "id": "REDACTED",
          "name": "HAW_AI_DESK_DEV"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.srv1081114.hstgr.cloud/webhook/tner-create-invoice",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ Object.assign(JSON.parse($json.choices[0].message.content), {customer_name: $('Parse').item.json.name, customer_phone: $('Parse').item.json.from}) }}",
        "options": {}
      },
      "id": "call-invoice",
      "name": "Create Invoice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1180,
        460
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "892291267291974",
        "recipientPhoneNumber": "={{ $('Parse').item.json.from }}",
        "textBody": "={{ \"✅ Booking confirmed! Invoice #\" + $json.invoice_number + \"\\n\\nYour luggage will be ready. We'll reach out soon to finalize delivery details.\\n\\nHave a great trip 🧳\" }}",
        "additionalFields": {}
      },
      "id": "send-order",
      "name": "Send Order Confirm",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        1380,
        460
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "REDACTED",
          "name": "WhatsApp account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\"model\": \"text-embedding-3-small\", \"input\": $json.message} }}",
        "options": {}
      },
      "id": "embedding",
      "name": "Embedding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        980,
        660
      ],
      "credentials": {
        "openAiApi": {
          "id": "REDACTED",
          "name": "HAW_AI_DESK_DEV"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cngqenuugtgfkrwagllk.supabase.co/rest/v1/rpc/match_product_knowledge",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "JWT_REDACTED"
            },
            {
              "name": "Authorization",
              "value": "Bearer REDACTED"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\"query_embedding\": \"[\" + $json.data[0].embedding.join(',') + \"]\", \"match_threshold\": 0.35, \"match_count\": 3} }}",
        "options": {
          "alwaysOutputData": true
        }
      },
      "id": "search",
      "name": "Search RAG",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1180,
        660
      ]
    },
    {
      "parameters": {
        "jsCode": "const knowledge = $input.item.json;\nconst customerData = $('Parse').item.json;\nconst knowledgeArray = Array.isArray(knowledge) ? knowledge : [];\nconst context = knowledgeArray.length > 0 ? knowledgeArray.map(k => k.content).join('\\n\\n') : '';\n\nreturn [{json: {...customerData, rag_context: context}}];"
      },
      "id": "context",
      "name": "Build Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1380,
        660
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\"model\": \"gpt-4o-mini\", \"messages\": [{\"role\": \"system\", \"content\": \"You are TNER's friendly customer service assistant. You help travelers rent affordable, quality luggage in Singapore.\\n\\n## Your Personality\\n- Warm, helpful, and genuinely excited about travel\\n- Confident but never pushy\\n- Use short, clear sentences (Singapore WhatsApp style)\\n- Friendly but professional — balance lah/lor naturally, don't overdo\\n- Care about sustainability and smart travel choices\\n\\n## Key Info\\n\" + $json.rag_context + \"\\n\\nPricing:\\n• Medium (24\\\") — $1/day\\n• Large (28\\\") — $1.30/day\\n• Delivery — $20 flat (covers both ways)\\n• Self-collect — FREE at 10 Ubi Crescent #04-17B, Ubi Techpark Lobby B (5 min walk from Ubi MRT)\\n\\nOperating Hours: 11am - 8pm Daily\\nPhone: +65 8684 6191\\n\\n## How to Respond\\n- Keep replies under 3-4 lines for WhatsApp\\n- If customer asks about booking, guide them naturally: size → dates → delivery or collect\\n- Mention eco-friendly linings if relevant (biodegradable, changed after each use)\\n- For complex questions, offer to call/meet at showroom\\n- End with helpful next step, not salesy push\\n\\n## Style Examples\\n✅ Good:\\n• \\\"Our medium luggage is $1/day. Perfect for a week-long trip! When are you traveling?\\\"\\n• \\\"We're at Ubi Techpark, super convenient. Self-collect is free, or we deliver for $20.\\\"\\n• \\\"Yup, we change the biodegradable lining after every rental. Hygiene is important to us.\\\"\\n\\n❌ Avoid:\\n• \\\"Hello valued customer! We are pleased to inform you that our company offers...\\\" (too formal)\\n• \\\"OMG that's so shiok lah!!! Confirm plus chop!!!\\\" (over-the-top Singlish)\\n• \\\"Buy now! Limited time offer! Don't miss out!\\\" (pushy sales language)\\n\\nBe genuinely helpful. You're here to make travel easier.\"}, {\"role\": \"user\", \"content\": $json.message}], \"max_tokens\": 250} }}",
        "options": {}
      },
      "id": "ai",
      "name": "AI Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1580,
        660
      ],
      "credentials": {
        "openAiApi": {
          "id": "REDACTED",
          "name": "HAW_AI_DESK_DEV"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "892291267291974",
        "recipientPhoneNumber": "={{ $('Parse').item.json.from }}",
        "textBody": "={{ $json.choices[0].message.content }}",
        "additionalFields": {}
      },
      "id": "send-inquiry",
      "name": "Send Reply",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        1780,
        660
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "REDACTED",
          "name": "WhatsApp account 2"
        }
      }
    }
  ],
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse": {
      "main": [
        [
          {
            "node": "Detect Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Intent": {
      "main": [
        [
          {
            "node": "Order?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Order?": {
      "main": [
        [
          {
            "node": "Extract Order",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Order": {
      "main": [
        [
          {
            "node": "Create Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Invoice": {
      "main": [
        [
          {
            "node": "Send Order Confirm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embedding": {
      "main": [
        [
          {
            "node": "Search RAG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search RAG": {
      "main": [
        [
          {
            "node": "Build Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Context": {
      "main": [
        [
          {
            "node": "AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Response": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "exportedAt": "2025-12-06T05:32:08.846Z",
    "n8nId": "CeT3mhqgo2WiPpPj",
    "active": false,
    "note": "Credentials and secrets have been redacted. Re-configure in n8n after import."
  }
}