workflows/finance/tner-create-xero-invoice-from-chat.json
{
  "name": "TNER | Finance | create-xero-invoice-from-chat",
  "id": "02gL9fJXVD41ePud",
  "versionCounter": 3,
  "updatedAt": "2025-12-06T06:43:21.369Z",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tner-create-invoice",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Invoice Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json.body || {};\nconst required = ['userId', 'items', 'issueDate'];\nconst missing = required.filter((key) => !body[key]);\n\nif (missing.length) {\n  throw new Error(`Missing invoice payload fields: ${missing.join(', ')}`);\n}\n\nreturn body;"
      },
      "id": "validate-payload",
      "name": "Validate Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM tner_customers WHERE phone = '{{ $json.userId }}' LIMIT 1;"
      },
      "id": "fetch-customer",
      "name": "Fetch Customer Cache",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [600, 260],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-tner",
          "name": "Supabase TNER"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const customer = $input.item.json[0] || {};\nconst payload = {\n  Type: 'ACCREC',\n  Contact: {\n    ContactID: customer.xero_contact_id || undefined,\n    Name: customer.first_name ? `${customer.first_name} ${customer.last_name || ''}`.trim() : customer.phone || 'WhatsApp Customer'\n  },\n  Date: $('Validate Payload').item.json.issueDate,\n  DueDate: $('Validate Payload').item.json.dueDate || $('Validate Payload').item.json.issueDate,\n  LineItems: $('Validate Payload').item.json.items.map((item) => ({\n    Description: item.description,\n    Quantity: item.quantity || 1,\n    UnitAmount: item.unitAmount || item.price || 0,\n    AccountCode: item.accountCode || '200'\n  })),\n  Status: 'AUTHORISED'\n};\n\nreturn { invoicePayload: payload, customer };\n"
      },
      "id": "compose-invoice",
      "name": "Compose Invoice Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 260]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.xero.com/api.xro/2.0/Invoices",
        "authentication": "genericCredentialType",
        "genericAuthType": "oauth2",
        "sendBody": true,
        "bodyParameters": {
          "contentType": "json",
          "parameters": [
            {
              "name": "Invoices",
              "value": "={{ [$json.invoicePayload] }}"
            }
          ]
        }
      },
      "id": "xero-request",
      "name": "Create Xero Invoice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1000, 260],
      "credentials": {
        "oauth2Api": {
          "id": "xero-oauth",
          "name": "Xero OAuth"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO tner_order_history (phone, xero_invoice_id, invoice_number, status, amount, issue_date, items)\nVALUES (\n  '{{ $('Validate Payload').item.json.userId }}',\n  '{{ $json.Invoices[0].InvoiceID }}',\n  '{{ $json.Invoices[0].InvoiceNumber }}',\n  '{{ $json.Invoices[0].Status }}',\n  {{ $json.Invoices[0].Total }} ,\n  '{{ $json.Invoices[0].Date }}',\n  '{{ $json.Invoices[0].LineItems }}'\n);"
      },
      "id": "store-history",
      "name": "Store Order History",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1200, 260],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-tner",
          "name": "Supabase TNER"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "={{ { status: 'success', invoiceId: $json.Invoices[0].InvoiceID } }}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1400, 260]
    }
  ],
  "connections": {
    "Invoice Webhook": {
      "main": [[{"node": "Validate Payload", "type": "main", "index": 0}]]
    },
    "Validate Payload": {
      "main": [[{"node": "Fetch Customer Cache", "type": "main", "index": 0}]]
    },
    "Fetch Customer Cache": {
      "main": [[{"node": "Compose Invoice Payload", "type": "main", "index": 0}]]
    },
    "Compose Invoice Payload": {
      "main": [[{"node": "Create Xero Invoice", "type": "main", "index": 0}]]
    },
    "Create Xero Invoice": {
      "main": [[{"node": "Store Order History", "type": "main", "index": 0}]]
    },
    "Store Order History": {
      "main": [[{"node": "Respond", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null
}
