workflows/finance/tner-upload-photo-to-xero.json
{
  "name": "TNER | Finance | upload-photo-to-xero",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upload-photo-to-xero",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        250,
        300
      ],
      "webhookId": "upload-photo-xero",
      "id": "webhook"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json.body;\n\nif (!body.invoiceId || !body.photoData) {\n  throw new Error('Missing invoiceId or photoData in request');\n}\n\nconst base64Data = body.photoData.split(',')[1];\nconst contentType = body.photoData.match(/data:(.*?);base64/)?.[1] || 'image/jpeg';\n\nreturn {\n  invoiceId: body.invoiceId,\n  filename: `${body.type || 'photo'}_${body.filename}`,\n  photoBase64: base64Data,\n  contentType: contentType\n};"
      },
      "name": "Prepare Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        300
      ],
      "id": "prepare"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.xero.com/connections",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "xeroOAuth2Api",
        "options": {}
      },
      "name": "Get Tenant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        650,
        300
      ],
      "credentials": {
        "xeroOAuth2Api": {
          "id": "REDACTED",
          "name": "Xero account"
        }
      },
      "id": "get-tenant"
    },
    {
      "parameters": {
        "jsCode": "const invoiceId = $('Prepare Data').item.json.invoiceId;\nconst filename = $('Prepare Data').item.json.filename;\nconst photoBase64 = $('Prepare Data').item.json.photoBase64;\nconst contentType = $('Prepare Data').item.json.contentType || 'image/jpeg';\n\nconst alwc = $input.all().find(c => c.json.tenantName?.toUpperCase().includes('ALWC'));\nif (!alwc) throw new Error('ALWC tenant not found');\nconst tenantId = alwc.json.tenantId;\n\nconst buffer = Buffer.from(photoBase64, 'base64');\n\nreturn {\n  json: {\n    invoiceId: invoiceId,\n    filename: filename,\n    tenantId: tenantId,\n    contentType: contentType,\n    rawBody: buffer.toString('base64')\n  }\n};"
      },
      "name": "Prepare Upload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        850,
        300
      ],
      "id": "prepare-upload"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.xero.com/api.xro/2.0/Invoices/{{ $json.invoiceId }}/Attachments/{{ $json.filename }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "xeroOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xero-tenant-id",
              "value": "={{ $json.tenantId }}"
            },
            {
              "name": "Content-Type",
              "value": "={{ $json.contentType }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ Buffer.from($json.rawBody, 'base64') }}",
        "options": {
          "bodyContentType": "raw"
        }
      },
      "name": "Upload to Xero",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1050,
        300
      ],
      "credentials": {
        "xeroOAuth2Api": {
          "id": "REDACTED",
          "name": "Xero account"
        }
      },
      "id": "upload"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, message: 'Photo uploaded to Xero', filename: $json.filename } }}"
      },
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1250,
        300
      ],
      "id": "success"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Data": {
      "main": [
        [
          {
            "node": "Get Tenant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Tenant": {
      "main": [
        [
          {
            "node": "Prepare Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Upload": {
      "main": [
        [
          {
            "node": "Upload to Xero",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Xero": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "executionTimeout": 3600,
    "timezone": "UTC"
  },
  "staticData": null,
  "meta": {
    "exportedAt": "2025-12-06T05:32:08.845Z",
    "n8nId": "4Jp9MIWK1QSRYf8f",
    "active": true,
    "note": "Credentials and secrets have been redacted. Re-configure in n8n after import."
  }
}