workflows/finance/tner-xero-oauth2-callback.json
{
  "name": "TNER | Finance | xero-oauth2-callback",
  "id": "yMwQyyFhdIu3vZpK",
  "versionCounter": 5,
  "updatedAt": "2025-12-06T06:43:33.928Z",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "xero-callback",
        "responseMode": "responseNode"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "id": "62cb7c13-a924-4dd9-a3e4-b242700fe9ac"
    },
    {
      "parameters": {
        "jsCode": "const code = $input.item.json.query.code;\nif (!code) return { error: true };\nreturn { code, error: false };"
      },
      "name": "Extract Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300],
      "id": "0b740a31-b122-4b1c-a6e1-fb1b201b7232"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [{"value1": "={{ $json.error }}", "value2": false}]
        }
      },
      "name": "Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300],
      "id": "63e82d3e-24c6-4aac-8ef4-dd1c52f867da"
    },
    {
      "parameters": {
        "url": "https://identity.xero.com/connect/token",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {"name": "grant_type", "value": "authorization_code"},
            {"name": "code", "value": "={{ $json.code }}"},
            {"name": "redirect_uri", "value": "https://n8n.srv1081114.hstgr.cloud/webhook/xero-callback"}
          ]
        }
      },
      "name": "Get Tokens",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [850, 200],
      "id": "71563d8a-dbc6-4f0e-a7c6-ffec4143df87"
    },
    {
      "parameters": {
        "jsCode": "const t = $input.item.json;\nconst url = 'https://cngqenuugtgfkrwagllk.supabase.co';\nconst key = 'JWT_REDACTED';\nawait fetch(`${url}/rest/v1/xero_tokens?id=eq.1`, {\n  method: 'PATCH',\n  headers: {'apikey': key, 'Authorization': `Bearer ${key}`, 'Content-Type': 'application/json', 'Prefer': 'return=minimal'},\n  body: JSON.stringify({\n    access_token: t.access_token,\n    refresh_token: t.refresh_token,\n    expires_at: new Date(Date.now() + t.expires_in * 1000).toISOString(),\n    updated_at: new Date().toISOString()\n  })\n});\nreturn {ok: true};"
      },
      "name": "Save",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 200],
      "id": "f67d99ec-32e7-4ed4-a063-7402815135e1"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<!DOCTYPE html><html><head><style>body{font-family:system-ui;padding:60px;text-align:center}h1{color:#22c55e}</style></head><body><h1>✅ Success</h1><p>Close window</p></body></html>"
      },
      "name": "Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1250, 200],
      "id": "53213c93-0c89-4db6-99ce-dca2f0546e0e"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<!DOCTYPE html><html><head><style>body{font-family:system-ui;padding:60px;text-align:center}h1{color:#ef4444}</style></head><body><h1>❌ Error</h1><p>No code</p></body></html>"
      },
      "name": "Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [850, 400],
      "id": "543546cd-f088-463d-a3aa-7b411e206e6d"
    }
  ],
  "connections": {
    "Webhook": {"main": [[{"node": "Extract Code"}]]},
    "Extract Code": {"main": [[{"node": "Valid?"}]]},
    "Valid?": {"main": [[{"node": "Get Tokens"}], [{"node": "Error"}]]},
    "Get Tokens": {"main": [[{"node": "Save"}]]},
    "Save": {"main": [[{"node": "Success"}]]}
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null
}

