workflows/finance/tner-create-invoice-webhook.json
{
  "name": "TNER | Finance | create-invoice-webhook",
  "id": "bVKmKScvSBpqbHfl",
  "versionCounter": 7,
  "updatedAt": "2025-12-06T06:43:19.625Z",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tner-create-invoice",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 500],
      "webhookId": "tner-invoice-webhook"
    },
    {
      "parameters": {
        "jsCode": "const payload = $input.first().json.body || $input.first().json;\nconst crypto = require('crypto');\nconst idempotencyData = `${payload.customer.phone}-${payload.order.rental_start}-${JSON.stringify(payload.order.luggage_28)}-${JSON.stringify(payload.order.luggage_24)}`;\nconst idempotencyKey = crypto.createHash('md5').update(idempotencyData).digest('hex');\n\nreturn [{\n  json: {\n    idempotencyKey: idempotencyKey,\n    source: payload.source || 'unknown',\n    customer: payload.customer,\n    order: payload.order,\n    pricing: payload.pricing,\n    conversation_id: payload.conversation_id,\n    timestamp: payload.timestamp || new Date().toISOString()\n  }\n}];"
      },
      "id": "parse-webhook",
      "name": "Parse Webhook",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 500]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.xero.com/connections",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "xeroOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{"name": "Accept", "value": "application/json"}]
        }
      },
      "id": "get-connections",
      "name": "Get Xero Orgs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 500],
      "credentials": {
        "xeroOAuth2Api": {"id": "acPNCKWEdEc0gA8V", "name": "Xero account"}
      }
    },
    {
      "parameters": {
        "jsCode": "const connections = $input.all();\nconst alwcConnection = connections.find(conn => conn.json.tenantName && conn.json.tenantName.toUpperCase().includes('ALWC'));\nif (!alwcConnection) { throw new Error('ALWC not found'); }\nreturn [{ json: { tenantId: alwcConnection.json.tenantId } }];"
      },
      "id": "find-alwc",
      "name": "Find ALWC",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 500]
    },
    {
      "parameters": {
        "jsCode": "const webhookData = $('Parse Webhook').first().json;\nconst customer = webhookData.customer;\nconst tenantId = $input.first().json.tenantId;\n\nreturn [{\n  json: {\n    Contacts: [{\n      Name: customer.name,\n      EmailAddress: customer.email,\n      Phones: [{ PhoneType: 'MOBILE', PhoneNumber: customer.phone }],\n      Addresses: [{\n        AddressType: 'STREET',\n        AddressLine1: customer.address.split('\\n')[0] || customer.address.substring(0, 50),\n        AddressLine2: customer.address.split('\\n')[1] || '',\n        PostalCode: customer.address.match(/\\d{6}/)?.[0] || '',\n        Country: 'Singapore'\n      }]\n    }],\n    tenantId: tenantId\n  }\n}];"
      },
      "id": "prepare-contact",
      "name": "Prepare Contact",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 500]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://api.xero.com/api.xro/2.0/Contacts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "xeroOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "xero-tenant-id", "value": "={{ $json.tenantId }}"},
            {"name": "Accept", "value": "application/json"},
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"Contacts\": $json.Contacts } }}",
        "options": {}
      },
      "id": "create-contact",
      "name": "Create Xero Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1340, 500],
      "credentials": {
        "xeroOAuth2Api": {"id": "acPNCKWEdEc0gA8V", "name": "Xero account"}
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "return-success",
      "name": "Return Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2660, 500]
    }
  ],
  "connections": {
    "Webhook Trigger": {"main": [[{"node": "Parse Webhook", "type": "main", "index": 0}]]},
    "Parse Webhook": {"main": [[{"node": "Get Xero Orgs", "type": "main", "index": 0}]]},
    "Get Xero Orgs": {"main": [[{"node": "Find ALWC", "type": "main", "index": 0}]]},
    "Find ALWC": {"main": [[{"node": "Prepare Contact", "type": "main", "index": 0}]]},
    "Prepare Contact": {"main": [[{"node": "Create Xero Contact", "type": "main", "index": 0}]]},
    "Create Xero Contact": {"main": [[{"node": "Return Success", "type": "main", "index": 0}]]}
  },
  "settings": {
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "executionTimeout": 3600,
    "timezone": "UTC",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null
}
