workflows/finance/tner-sync-invoices-to-calendar.json
{
  "name": "TNER | Finance | sync-invoices-to-calendar",
  "id": "vyiQSLv9QdkVl6va",
  "versionCounter": 7,
  "updatedAt": "2025-12-06T06:43:32.200Z",
  "active": true,
  "nodes": [
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 200],
      "id": "manual-trigger-test"
    },
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "hours", "hoursInterval": 1}]
        }
      },
      "name": "Schedule (Hourly)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 400],
      "id": "schedule"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.xero.com/connections",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "xeroOAuth2Api"
      },
      "name": "Get Orgs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300],
      "credentials": {"xeroOAuth2Api": {"id": "acPNCKWEdEc0gA8V", "name": "Xero account"}},
      "id": "get-orgs"
    },
    {
      "parameters": {
        "jsCode": "const alwc = $input.all().find(c => c.json.tenantName?.toUpperCase().includes('ALWC'));\nif (!alwc) throw new Error('ALWC not found');\nreturn { tenantId: alwc.json.tenantId };"
      },
      "name": "Find ALWC",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300],
      "id": "find-alwc"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.xero.com/api.xro/2.0/Invoices?where=Type==\"ACCREC\"&order=Date DESC",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "xeroOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {"parameters": [{"name": "xero-tenant-id", "value": "={{ $json.tenantId }}"}]}
      },
      "name": "Get All Invoices",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [850, 300],
      "credentials": {"xeroOAuth2Api": {"id": "acPNCKWEdEc0gA8V", "name": "Xero account"}},
      "id": "get-invoices"
    }
  ],
  "connections": {
    "Manual Trigger": {"main": [[{"node": "Get Orgs", "type": "main", "index": 0}]]},
    "Schedule (Hourly)": {"main": [[{"node": "Get Orgs", "type": "main", "index": 0}]]},
    "Get Orgs": {"main": [[{"node": "Find ALWC", "type": "main", "index": 0}]]},
    "Find ALWC": {"main": [[{"node": "Get All Invoices", "type": "main", "index": 0}]]}
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {"node:Schedule (Hourly)": {"recurrenceRules": []}},
  "meta": null,
  "pinData": null
}
