workflows/marketing/hoz-product-scraper.json
{
  "name": "HOZ | Marketing | product-scraper",
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "parameters": {
        "path": "ejg7IEzROMLJKYoy-hoz-scraper",
        "httpMethod": "GET",
        "responseMode": "lastNode"
      }
    },
    {
      "id": "read-urls",
      "name": "Read Product URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const urls = `https://www.hoz.sg/product/detail/aqara-smart-lock-d200i\nhttps://www.hoz.sg/product/detail/philips-5100k-gate-digital-lock\nhttps://www.hoz.sg/product/detail/philips-9200-door-digital-lock\nhttps://www.hoz.sg/product/detail/philips-7300-door-digital-lock\nhttps://www.hoz.sg/product/detail/hafele-pp8100-door-digital-lock\nhttps://www.hoz.sg/product/detail/bosch-digital-lock-el600\nhttps://www.hoz.sg/product/detail/samsung-digital-lock-shs-p717\nhttps://www.hoz.sg/product/detail/zigbang-shp-p52-door-digital-lock-gold\nhttps://www.hoz.sg/product/detail/igloohome-mt1-smart-mortise-digital-door-lock`.split('\\n').filter(u => u.trim());\n\nreturn urls.map(url => ({ json: { url } }));"
      }
    },
    {
      "id": "http-request",
      "name": "Scrape Product Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        680,
        300
      ],
      "parameters": {
        "url": "={{ $json.url }}",
        "method": "GET",
        "options": {
          "timeout": 30000
        }
      }
    },
    {
      "id": "extract-data",
      "name": "Extract Product Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const html = $input.item.json.data;\nconst url = $input.item.json.url;\n\nconst titleMatch = html.match(/<h1[^>]*>([^<]+)<\\/h1>/i) || html.match(/<title>([^|<]+)/i);\nconst title = titleMatch ? titleMatch[1].replace(/\\s+/g, ' ').trim() : 'Unknown';\n\nconst priceMatch = html.match(/\\$\\s*([0-9,]+(?:\\.\\d{2})?)/);  \nconst price = priceMatch ? `$${priceMatch[1]}` : 'Price not listed';\n\nconst descMatch = html.match(/<meta\\s+(?:name|property)=\"(?:description|og:description)\"\\s+content=\"([^\"]+)\"/i);\nconst description = descMatch ? descMatch[1].substring(0, 500) : '';\n\nlet category = 'products';\nconst urlLower = url.toLowerCase();\nif (urlLower.includes('lock')) category = 'digital-locks';\n\nconst content = `Product: ${title}\\nPrice: ${price}\\nCategory: ${category}\\nDescription: ${description}\\nURL: ${url}`;\n\nreturn { json: { title, price, category, description, url, content } };"
      }
    },
    {
      "id": "openai-embedding",
      "name": "Generate Embedding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1120,
        300
      ],
      "parameters": {
        "url": "https://api.openai.com/v1/embeddings",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer REDACTED"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ model: 'text-embedding-3-small', input: $json.content }) }}",
        "options": {}
      }
    },
    {
      "id": "supabase-insert",
      "name": "Insert to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1340,
        300
      ],
      "parameters": {
        "url": "https://mflugfhpjpxuwnjrkrgp.supabase.co/rest/v1/hoz_customer_knowledge",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "JWT_REDACTED"
            },
            {
              "name": "Authorization",
              "value": "Bearer REDACTED"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ content: $('Extract Product Data').item.json.content, category: 'products', embedding: $json.data[0].embedding }) }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Read Product URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Product URLs": {
      "main": [
        [
          {
            "node": "Scrape Product Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Product Page": {
      "main": [
        [
          {
            "node": "Extract Product Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Product Data": {
      "main": [
        [
          {
            "node": "Generate Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Embedding": {
      "main": [
        [
          {
            "node": "Insert to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": {
    "exportedAt": "2025-12-06T05:32:08.849Z",
    "n8nId": "ejg7IEzROMLJKYoy",
    "active": true,
    "note": "Credentials and secrets have been redacted. Re-configure in n8n after import."
  }
}