workflows/admin/all-admin-email-cleanup-once.json
{
  "name": "ALL | Admin | HWJ email-cleanup-once",
  "id": "z36JOtKdSpfWmT8a",
  "versionCounter": 1,
  "updatedAt": "2025-12-06T10:10:17.736Z",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Run Once",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "getAll",
        "returnAll": false,
        "limit": 500,
        "filters": {"q": "label:Processed in:inbox"},
        "options": {}
      },
      "id": "gmail-get",
      "name": "Get Processed Emails in Inbox",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [460, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "Ua2vTsXX5iWeJF78",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const LOW_URGENCY_LABELS = [\n  'Tech', 'Learning', 'Food', 'Travel', 'Shopping', \n  'Social', 'Newsletters', 'Promotions', 'Other',\n  'Finance/Receipts'\n];\n\nconst results = [];\n\nfor (const item of $input.all()) {\n  const email = item.json;\n  const labels = email.labels || [];\n  const labelNames = labels.map(l => l.name);\n  \n  const isLowUrgency = labelNames.some(name => \n    LOW_URGENCY_LABELS.some(low => name.includes(low))\n  );\n  \n  const isPromoOrSocial = labelNames.some(name => \n    name === 'CATEGORY_PROMOTIONS' || name === 'CATEGORY_SOCIAL'\n  );\n  \n  if (isLowUrgency || isPromoOrSocial) {\n    results.push({\n      json: {\n        id: email.id,\n        subject: email.Subject,\n        from: email.From,\n        labels: labelNames.filter(n => !n.startsWith('CATEGORY_')),\n        reason: isPromoOrSocial ? 'Gmail Category' : 'Low Urgency Label'\n      }\n    });\n  }\n}\n\nconsole.log('Found', results.length, 'low urgency emails to archive');\nreturn results;"
      },
      "id": "code-filter",
      "name": "Filter Low Urgency",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "removeLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": ["INBOX"]
      },
      "id": "gmail-archive",
      "name": "Archive Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [900, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "Ua2vTsXX5iWeJF78",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconsole.log('✅ Archived', items.length, 'low urgency emails');\nreturn [{ json: { archived: items.length, message: 'Cleanup complete!' } }];"
      },
      "id": "code-done",
      "name": "Done",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Run Once": {"main": [[{"node": "Get Processed Emails in Inbox", "type": "main", "index": 0}]]},
    "Get Processed Emails in Inbox": {"main": [[{"node": "Filter Low Urgency", "type": "main", "index": 0}]]},
    "Filter Low Urgency": {"main": [[{"node": "Archive Email", "type": "main", "index": 0}]]},
    "Archive Email": {"main": [[{"node": "Done", "type": "main", "index": 0}]]}
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null
}
