workflows/admin/all-admin-email-intent-responder.json
{
  "name": "ALL | Admin | email-intent-responder",
  "nodes": [
    {
      "id": "gmail-trigger",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [240, 400],
      "parameters": {
        "pollTimes": {
          "item": [{ "mode": "everyMinute", "minuteInterval": 5 }]
        },
        "filters": {
          "q": "is:unread -label:Processed -label:Pending-Review"
        }
      }
    },
    {
      "id": "extract-recipient",
      "name": "Extract Original Recipient",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 400],
      "parameters": {
        "jsCode": "// Configuration: Your 4 email addresses\nconst EMAIL_CONFIG = {\n  'finance@hoz.sg': {\n    company: 'HOZ',\n    context: 'HOZ Finance - Home appliances company. Handle billing, invoices, payment inquiries.',\n    signature: 'Best regards,\\nHOZ Finance Team'\n  },\n  'home@hoz.sg': {\n    company: 'HOZ',\n    context: 'HOZ General - Home appliances company. Handle product inquiries, sales, general questions.',\n    signature: 'Best regards,\\nHOZ Team'\n  },\n  'how.weijie@hoz.sg': {\n    company: 'HOZ',\n    context: 'HOZ Personal - Wei Jie at HOZ home appliances company. Professional correspondence.',\n    signature: 'Best regards,\\nWei Jie'\n  },\n  'howweijie@gmail.com': {\n    company: 'Personal',\n    context: 'Personal email. General correspondence.',\n    signature: 'Best regards,\\nWei Jie'\n  }\n};\n\nconst CENTRAL_EMAIL = 'howweijie@gmail.com';\nconst SOURCE_EMAILS = Object.keys(EMAIL_CONFIG);\n\nconst results = [];\n\nfor (const item of $input.all()) {\n  const email = item.json;\n  \n  // Extract headers\n  const headers = email.payload?.headers || [];\n  const getHeader = (name) => {\n    const header = headers.find(h => h.name.toLowerCase() === name.toLowerCase());\n    return header?.value || '';\n  };\n  \n  const from = getHeader('From');\n  const to = getHeader('To');\n  const subject = getHeader('Subject');\n  const deliveredTo = getHeader('Delivered-To');\n  const xForwardedTo = getHeader('X-Forwarded-To');\n  const xOriginalTo = getHeader('X-Original-To');\n  const messageId = getHeader('Message-ID');\n  const inReplyTo = getHeader('In-Reply-To');\n  const references = getHeader('References');\n  \n  // Get email body\n  let bodyText = '';\n  let bodyHtml = '';\n  \n  if (email.payload?.body?.data) {\n    bodyText = Buffer.from(email.payload.body.data, 'base64').toString('utf8');\n  } else if (email.payload?.parts) {\n    const textPart = email.payload.parts.find(p => p.mimeType === 'text/plain');\n    const htmlPart = email.payload.parts.find(p => p.mimeType === 'text/html');\n    if (textPart?.body?.data) {\n      bodyText = Buffer.from(textPart.body.data, 'base64').toString('utf8');\n    }\n    if (htmlPart?.body?.data) {\n      bodyHtml = Buffer.from(htmlPart.body.data, 'base64').toString('utf8');\n    }\n  }\n  \n  // Determine which email address this was originally sent to\n  let originalRecipient = CENTRAL_EMAIL;\n  \n  // Method 1: Check X-Original-To header (most reliable for forwards)\n  if (xOriginalTo) {\n    const match = SOURCE_EMAILS.find(e => xOriginalTo.toLowerCase().includes(e.toLowerCase()));\n    if (match) originalRecipient = match;\n  }\n  \n  // Method 2: Check Delivered-To header\n  if (originalRecipient === CENTRAL_EMAIL && deliveredTo) {\n    const match = SOURCE_EMAILS.find(e => deliveredTo.toLowerCase().includes(e.toLowerCase()));\n    if (match) originalRecipient = match;\n  }\n  \n  // Method 3: Check X-Forwarded-To header\n  if (originalRecipient === CENTRAL_EMAIL && xForwardedTo) {\n    const match = SOURCE_EMAILS.find(e => xForwardedTo.toLowerCase().includes(e.toLowerCase()));\n    if (match) originalRecipient = match;\n  }\n  \n  // Method 4: Check To header directly\n  if (originalRecipient === CENTRAL_EMAIL && to) {\n    const match = SOURCE_EMAILS.find(e => to.toLowerCase().includes(e.toLowerCase()));\n    if (match) originalRecipient = match;\n  }\n  \n  // Get config for this recipient\n  const config = EMAIL_CONFIG[originalRecipient] || EMAIL_CONFIG[CENTRAL_EMAIL];\n  \n  // Extract sender name and email\n  const senderMatch = from.match(/^(.+?)\\s*<(.+?)>$/);\n  const senderName = senderMatch ? senderMatch[1].replace(/\"/g, '').trim() : '';\n  const senderEmail = senderMatch ? senderMatch[2] : from;\n  \n  // Check if this is part of an existing thread\n  const isReply = !!(inReplyTo || references);\n  \n  results.push({\n    json: {\n      // Email identifiers\n      emailId: email.id,\n      threadId: email.threadId,\n      messageId: messageId,\n      \n      // Sender info\n      from: from,\n      senderName: senderName,\n      senderEmail: senderEmail,\n      \n      // Recipient info\n      to: to,\n      originalRecipient: originalRecipient,\n      company: config.company,\n      companyContext: config.context,\n      signature: config.signature,\n      \n      // Email content\n      subject: subject,\n      snippet: email.snippet || '',\n      bodyText: bodyText.substring(0, 3000),\n      bodyHtml: bodyHtml,\n      \n      // Thread info\n      isReply: isReply,\n      inReplyTo: inReplyTo,\n      references: references,\n      \n      // Headers for debugging\n      _headers: { deliveredTo, xForwardedTo, xOriginalTo }\n    }\n  });\n}\n\nreturn results;"
      }
    },
    {
      "id": "get-thread",
      "name": "Get Thread History",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [680, 400],
      "parameters": {
        "resource": "thread",
        "operation": "get",
        "threadId": "={{ $json.threadId }}",
        "options": {
          "format": "full"
        }
      }
    },
    {
      "id": "build-context",
      "name": "Build Thread Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 400],
      "parameters": {
        "jsCode": "// Build conversation context from thread\nconst results = [];\n\nfor (const item of $input.all()) {\n  const thread = item.json;\n  const original = $('Extract Original Recipient').item.json;\n  \n  // Extract messages from thread\n  const messages = thread.messages || [];\n  const conversationHistory = [];\n  \n  for (const msg of messages.slice(-5)) { // Last 5 messages for context\n    const headers = msg.payload?.headers || [];\n    const getHeader = (name) => {\n      const h = headers.find(h => h.name.toLowerCase() === name.toLowerCase());\n      return h?.value || '';\n    };\n    \n    let body = '';\n    if (msg.payload?.body?.data) {\n      body = Buffer.from(msg.payload.body.data, 'base64').toString('utf8');\n    } else if (msg.payload?.parts) {\n      const textPart = msg.payload.parts.find(p => p.mimeType === 'text/plain');\n      if (textPart?.body?.data) {\n        body = Buffer.from(textPart.body.data, 'base64').toString('utf8');\n      }\n    }\n    \n    // Clean up body (remove quoted replies, signatures)\n    body = body\n      .split(/\\n--\\s*\\n/)[0] // Remove signature\n      .split(/\\nOn .+ wrote:/)[0] // Remove quoted replies\n      .trim()\n      .substring(0, 1000);\n    \n    conversationHistory.push({\n      from: getHeader('From'),\n      date: getHeader('Date'),\n      body: body\n    });\n  }\n  \n  // Format conversation for AI\n  let conversationText = '';\n  if (conversationHistory.length > 1) {\n    conversationText = '\\n\\n--- CONVERSATION HISTORY ---\\n';\n    for (const msg of conversationHistory.slice(0, -1)) { // Exclude current message\n      conversationText += `\\nFrom: ${msg.from}\\nDate: ${msg.date}\\n${msg.body}\\n---\\n`;\n    }\n  }\n  \n  results.push({\n    json: {\n      ...original,\n      threadMessageCount: messages.length,\n      conversationHistory: conversationText,\n      hasHistory: conversationHistory.length > 1\n    }\n  });\n}\n\nreturn results;"
      }
    },
    {
      "id": "ai-classify",
      "name": "AI Intent Classification",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [1120, 400],
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are an email classifier. Analyze the email and determine:\n1. Intent - what the sender wants\n2. Whether it needs a human reply\n\nRespond with ONLY valid JSON (no markdown):\n{\n  \"intent\": \"sales_inquiry\" | \"general_question\" | \"finance_inquiry\" | \"support_request\" | \"auto_notification\" | \"promotional\" | \"newsletter\" | \"receipt\" | \"spam\",\n  \"needs_reply\": true | false,\n  \"urgency\": \"high\" | \"medium\" | \"low\",\n  \"summary\": \"one sentence summary of what they want\",\n  \"reason\": \"why this does/doesn't need a reply\"\n}\n\n## NEEDS REPLY (true):\n- Sales inquiry: asking about products, pricing, availability\n- General question: asking for information, how-to, clarification\n- Finance inquiry: billing questions, payment issues (from a human)\n- Support request: help needed, issue reported\n\n## NO REPLY NEEDED (false):\n- Auto notifications: bank alerts, shipping updates, password resets\n- Promotional: marketing, offers, discounts\n- Newsletter: subscribed content, digests\n- Receipt: order confirmations, payment receipts\n- Spam: unsolicited, suspicious\n- No-reply sender: emails from noreply@ addresses asking nothing\n\n## URGENCY:\n- High: legal, complaints, urgent requests, payment issues\n- Medium: business inquiries, questions needing timely response\n- Low: general info, non-urgent"
            },
            {
              "role": "user",
              "content": "=Email received at: {{ $json.originalRecipient }}\nCompany context: {{ $json.companyContext }}\n\nFrom: {{ $json.from }}\nSubject: {{ $json.subject }}\n\nBody:\n{{ $json.bodyText || $json.snippet }}\n{{ $json.conversationHistory }}"
            }
          ]
        },
        "options": {
          "maxTokens": 200,
          "temperature": 0.1
        }
      }
    },
    {
      "id": "parse-classification",
      "name": "Parse Classification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 400],
      "parameters": {
        "jsCode": "// Parse AI classification and merge with email data\nconst results = [];\n\nfor (const item of $input.all()) {\n  const aiResponse = item.json;\n  const original = $('Build Thread Context').item.json;\n  \n  let classification = {\n    intent: 'general_question',\n    needs_reply: false,\n    urgency: 'low',\n    summary: '',\n    reason: 'Parse error - defaulting to no reply'\n  };\n  \n  try {\n    const content = aiResponse.message?.content || aiResponse.text || '{}';\n    const cleaned = content.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n    classification = JSON.parse(cleaned);\n  } catch (e) {\n    console.log('AI parse error:', e.message);\n  }\n  \n  results.push({\n    json: {\n      ...original,\n      intent: classification.intent,\n      needsReply: classification.needs_reply === true,\n      urgency: classification.urgency || 'low',\n      aiSummary: classification.summary || '',\n      aiReason: classification.reason || ''\n    }\n  });\n}\n\nreturn results;"
      }
    },
    {
      "id": "if-needs-reply",
      "name": "Needs Reply?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1560, 400],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "needs-reply-check",
              "leftValue": "={{ $json.needsReply }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "generate-draft",
      "name": "Generate AI Draft Reply",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [1780, 300],
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "=You are a professional email assistant for {{ $json.company }}.\n\nContext: {{ $json.companyContext }}\n\nWrite a helpful, professional reply to the email. Guidelines:\n- Be warm but professional\n- Address the sender by name if available\n- Answer their question or acknowledge their request\n- Keep it concise (2-4 paragraphs max)\n- Don't make up specific details (prices, dates, availability) - say you'll check/confirm\n- End with a clear next step or offer to help further\n- Do NOT include subject line - just the body\n- Do NOT include signature - it will be added automatically\n\nIntent detected: {{ $json.intent }}\nSummary: {{ $json.aiSummary }}"
            },
            {
              "role": "user",
              "content": "=From: {{ $json.from }}\nSubject: {{ $json.subject }}\n\nEmail content:\n{{ $json.bodyText || $json.snippet }}\n{{ $json.conversationHistory }}\n\nPlease write a reply."
            }
          ]
        },
        "options": {
          "maxTokens": 500,
          "temperature": 0.7
        }
      }
    },
    {
      "id": "prepare-draft",
      "name": "Prepare Draft Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 300],
      "parameters": {
        "jsCode": "// Prepare draft content with signature\nconst results = [];\n\nfor (const item of $input.all()) {\n  const aiResponse = item.json;\n  const original = $('Parse Classification').item.json;\n  \n  // Get the generated reply\n  let replyBody = aiResponse.message?.content || aiResponse.text || '';\n  \n  // Clean up any markdown\n  replyBody = replyBody.trim();\n  \n  // Add signature\n  const fullReply = `${replyBody}\\n\\n${original.signature}`;\n  \n  // Prepare subject (add Re: if not present)\n  let replySubject = original.subject || '';\n  if (!replySubject.toLowerCase().startsWith('re:')) {\n    replySubject = `Re: ${replySubject}`;\n  }\n  \n  results.push({\n    json: {\n      ...original,\n      replyBody: fullReply,\n      replySubject: replySubject,\n      replyTo: original.senderEmail || original.from\n    }\n  });\n}\n\nreturn results;"
      }
    },
    {
      "id": "create-draft",
      "name": "Create Gmail Draft",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [2220, 300],
      "parameters": {
        "resource": "draft",
        "operation": "create",
        "subject": "={{ $json.replySubject }}",
        "emailType": "text",
        "message": "={{ $json.replyBody }}",
        "options": {
          "sendTo": "={{ $json.replyTo }}",
          "threadId": "={{ $json.threadId }}",
          "senderName": "={{ $json.company === 'Personal' ? 'Wei Jie' : $json.company + ' Team' }}"
        }
      }
    },
    {
      "id": "label-pending",
      "name": "Add Pending-Review Label",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [2440, 300],
      "parameters": {
        "resource": "message",
        "operation": "addLabels",
        "messageId": "={{ $json.emailId }}",
        "labelIds": ["Pending-Review"]
      }
    },
    {
      "id": "label-no-reply",
      "name": "Add Processed Label",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1780, 500],
      "parameters": {
        "resource": "message",
        "operation": "addLabels",
        "messageId": "={{ $json.emailId }}",
        "labelIds": ["Processed"]
      }
    },
    {
      "id": "if-low-urgency",
      "name": "Low Urgency?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2000, 500],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-low",
              "leftValue": "={{ $json.urgency }}",
              "rightValue": "low",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "archive-email",
      "name": "Archive (Low Urgency)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [2220, 420],
      "parameters": {
        "resource": "message",
        "operation": "removeLabels",
        "messageId": "={{ $json.emailId }}",
        "labelIds": ["INBOX"]
      }
    },
    {
      "id": "done-with-reply",
      "name": "Done (Draft Created)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2660, 300]
    },
    {
      "id": "done-no-reply",
      "name": "Done (No Reply)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2440, 500]
    },
    {
      "id": "sticky-overview",
      "name": "📧 Email Intent Responder",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [240, 140],
      "parameters": {
        "width": 400,
        "height": 200,
        "content": "## 📧 Email Intent Responder\n\n**4 Email Addresses:**\n- finance@hoz.sg (HOZ Finance)\n- home@hoz.sg (HOZ General)\n- how.weijie@hoz.sg (HOZ Personal)\n- howweijie@gmail.com (Personal/Central)\n\n**Flow:**\n1. Detect which email received message\n2. Classify intent (sales/general/etc)\n3. Draft reply ONLY if needed\n4. Save draft for human approval"
      }
    },
    {
      "id": "sticky-intents",
      "name": "🎯 Intent Detection",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1120, 140],
      "parameters": {
        "width": 380,
        "height": 200,
        "content": "## 🎯 Intent Detection\n\n**Draft Reply (needs_reply=true):**\n✅ Sales inquiry\n✅ General question\n✅ Finance inquiry\n✅ Support request\n\n**No Reply (needs_reply=false):**\n❌ Auto notifications\n❌ Newsletters\n❌ Receipts\n❌ Promotional emails"
      }
    },
    {
      "id": "sticky-setup",
      "name": "⚙️ Setup Required",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [2220, 140],
      "parameters": {
        "width": 340,
        "height": 140,
        "content": "## ⚙️ Setup Required\n\n1. Gmail OAuth2 credentials\n2. OpenAI API credentials\n3. Create labels: `Pending-Review`, `Processed`\n4. Add Send As aliases in Gmail Settings"
      }
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [[{ "node": "Extract Original Recipient", "type": "main", "index": 0 }]]
    },
    "Extract Original Recipient": {
      "main": [[{ "node": "Get Thread History", "type": "main", "index": 0 }]]
    },
    "Get Thread History": {
      "main": [[{ "node": "Build Thread Context", "type": "main", "index": 0 }]]
    },
    "Build Thread Context": {
      "main": [[{ "node": "AI Intent Classification", "type": "main", "index": 0 }]]
    },
    "AI Intent Classification": {
      "main": [[{ "node": "Parse Classification", "type": "main", "index": 0 }]]
    },
    "Parse Classification": {
      "main": [[{ "node": "Needs Reply?", "type": "main", "index": 0 }]]
    },
    "Needs Reply?": {
      "main": [
        [{ "node": "Generate AI Draft Reply", "type": "main", "index": 0 }],
        [{ "node": "Add Processed Label", "type": "main", "index": 0 }]
      ]
    },
    "Generate AI Draft Reply": {
      "main": [[{ "node": "Prepare Draft Content", "type": "main", "index": 0 }]]
    },
    "Prepare Draft Content": {
      "main": [[{ "node": "Create Gmail Draft", "type": "main", "index": 0 }]]
    },
    "Create Gmail Draft": {
      "main": [[{ "node": "Add Pending-Review Label", "type": "main", "index": 0 }]]
    },
    "Add Pending-Review Label": {
      "main": [[{ "node": "Done (Draft Created)", "type": "main", "index": 0 }]]
    },
    "Add Processed Label": {
      "main": [[{ "node": "Low Urgency?", "type": "main", "index": 0 }]]
    },
    "Low Urgency?": {
      "main": [
        [{ "node": "Archive (Low Urgency)", "type": "main", "index": 0 }],
        [{ "node": "Done (No Reply)", "type": "main", "index": 0 }]
      ]
    },
    "Archive (Low Urgency)": {
      "main": [[{ "node": "Done (No Reply)", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "pinData": {}
}
