workflows/admin/all-admin-email-classifier.json
{
  "name": "ALL | Admin | howweijie@gmail.com email-classifier",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        304
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": false,
        "limit": 50,
        "filters": {
          "labelIds": [
            "UNREAD"
          ],
          "q": "-label:Processed"
        }
      },
      "id": "gmail-get-unread",
      "name": "Get Unread Emails (max 50)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        464,
        304
      ],
      "webhookId": "d0114d99-02c5-4e6e-932f-5d5a0f667dc1",
      "credentials": {
        "gmailOAuth2": {
          "id": "REDACTED",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Rule-based email classification\n// Fast classification without AI for known senders\n\nconst RULES = {\n  // HOZ Company\n  'hoz': {\n    senders: ['@hoz.sg', 'HOZ PTE'],\n    subjects: ['HOZ', '201907826W'],\n    company: 'HOZ',\n    department: 'admin'\n  },\n  \n  // TNER Company  \n  'tner': {\n    senders: ['@tner.sg', 'tner.sg'],\n    subjects: ['TNER', 'tner.sg'],\n    company: 'TNER',\n    department: 'admin'\n  },\n  \n  // WRAP Company\n  'wrap': {\n    senders: ['@wrap.sg', 'wrap.sg'],\n    subjects: ['WRAP', 'wrap.sg'],\n    company: 'WRAP',\n    department: 'admin'\n  },\n  \n  // Banking\n  'banking': {\n    senders: ['@citibank.com', '@dbs.com', '@ocbc.com', 'ibanking.alert'],\n    category: 'Finance/Banking',\n    urgency: 'medium'\n  },\n  \n  // Crypto\n  'crypto': {\n    senders: ['@gemini.com', '@kraken.com', '@binance'],\n    category: 'Finance/Crypto',\n    urgency: 'medium'\n  },\n  \n  // Government - HIGH URGENCY\n  'government': {\n    senders: ['@iras.gov.sg', '@cpf.gov.sg', '@mom.gov.sg', '@ns.gov.sg'],\n    category: 'Government',\n    urgency: 'high'\n  },\n  \n  // Legal - HIGH URGENCY\n  'legal': {\n    senders: ['@shooklin.com', '@rajahtan.com', '@wongpartnership'],\n    category: 'Legal',\n    urgency: 'high'\n  },\n  \n  // Tech/SaaS\n  'tech': {\n    senders: ['@vercel.com', '@supabase.com', '@cloudflare.com', '@linear.app', '@figma.com', '@hostinger.com', '@github.com', '@google.com'],\n    category: 'Tech',\n    urgency: 'low'\n  },\n  \n  // Security - HIGH URGENCY\n  'security': {\n    senders: ['security@'],\n    subjects: ['security', 'password reset', 'verification code', 'suspicious'],\n    category: 'Security',\n    urgency: 'high'\n  },\n  \n  // Food Delivery\n  'food': {\n    senders: ['@grab.com', '@foodpanda', '@dominos', '@mcdonalds', '@fairprice'],\n    category: 'Food',\n    urgency: 'low'\n  },\n  \n  // Travel\n  'travel': {\n    senders: ['@airasia', '@flyscoot', '@singaporeair', '@trip.com', '@changiairport', '@all.com', '@klook'],\n    category: 'Travel',\n    urgency: 'low'\n  },\n  \n  // Shopping\n  'shopping': {\n    senders: ['@carousell', '@adidas', '@lazada', '@shopee', '@amazon', '@apple.com'],\n    category: 'Shopping',\n    urgency: 'low'\n  },\n  \n  // Receipts\n  'receipts': {\n    subjects: ['receipt', 'payment is complete', 'order confirmation', 'invoice'],\n    category: 'Finance/Receipts',\n    urgency: 'low'\n  },\n  \n  // Learning\n  'learning': {\n    senders: ['@skool.com', '@emeritus', '@coursera', '@udemy', '@nlb.gov.sg'],\n    category: 'Learning',\n    urgency: 'low'\n  },\n  \n  // Social\n  'social': {\n    senders: ['@linkedin.com', '@quora.com', '@reddit.com', '@twitter.com', '@facebook.com'],\n    category: 'Social',\n    urgency: 'low'\n  },\n  \n  // Newsletters\n  'newsletters': {\n    senders: ['@substack.com', 'newsletter', 'digest'],\n    category: 'Newsletters',\n    urgency: 'low'\n  }\n};\n\nconst results = [];\n\nfor (const item of $input.all()) {\n  const email = item.json;\n  const from = (email.From || '').toLowerCase();\n  const subject = (email.Subject || '').toLowerCase();\n  const snippet = (email.snippet || '').toLowerCase();\n  const labels = email.labels || [];\n  \n  let classification = {\n    id: email.id,\n    threadId: email.threadId,\n    from: email.From,\n    subject: email.Subject,\n    snippet: email.snippet,\n    existingLabels: labels.map(l => l.name),\n    company: 'Personal',\n    category: null,\n    urgency: 'low',\n    needsAI: false,\n    matchedRule: null\n  };\n  \n  // Check if it's already a promotion (Gmail's built-in)\n  const isPromotion = labels.some(l => l.name === 'CATEGORY_PROMOTIONS');\n  if (isPromotion) {\n    classification.category = 'Promotions';\n    classification.urgency = 'low';\n    classification.matchedRule = 'gmail-promotions';\n  }\n  \n  // Apply rules\n  for (const [ruleName, rule] of Object.entries(RULES)) {\n    let matched = false;\n    \n    // Check senders\n    if (rule.senders) {\n      matched = rule.senders.some(s => from.includes(s.toLowerCase()));\n    }\n    \n    // Check subjects\n    if (!matched && rule.subjects) {\n      matched = rule.subjects.some(s => \n        subject.includes(s.toLowerCase()) || snippet.includes(s.toLowerCase())\n      );\n    }\n    \n    if (matched) {\n      if (rule.company) classification.company = rule.company;\n      if (rule.department) classification.department = rule.department;\n      if (rule.category) classification.category = rule.category;\n      if (rule.urgency) {\n        // Only upgrade urgency, never downgrade\n        if (rule.urgency === 'high' || \n            (rule.urgency === 'medium' && classification.urgency === 'low')) {\n          classification.urgency = rule.urgency;\n        }\n      }\n      classification.matchedRule = ruleName;\n      break; // Stop at first match\n    }\n  }\n  \n  // If no category assigned, mark for AI classification\n  if (!classification.category && !isPromotion) {\n    classification.needsAI = true;\n  }\n  \n  results.push({ json: classification });\n}\n\nreturn results;"
      },
      "id": "code-rules",
      "name": "Apply Rule-Based Classification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "needs-ai",
              "leftValue": "={{ $json.needsAI }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-needs-ai",
      "name": "Needs AI?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        912,
        304
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "You are an email classifier for a business owner who manages 3 companies (HOZ, TNER, WRAP) plus personal emails.\n\nClassify the email and respond with ONLY a JSON object (no markdown, no explanation):\n\n{\n  \"company\": \"HOZ\" | \"TNER\" | \"WRAP\" | \"Personal\",\n  \"category\": \"Finance/Banking\" | \"Finance/Receipts\" | \"Finance/Crypto\" | \"Government\" | \"Legal\" | \"Tech\" | \"Security\" | \"Food\" | \"Travel\" | \"Shopping\" | \"Learning\" | \"Social\" | \"Newsletters\" | \"Promotions\" | \"Work\" | \"Other\",\n  \"urgency\": \"high\" | \"medium\" | \"low\",\n  \"reason\": \"brief explanation\"\n}\n\nUrgency guidelines:\n- HIGH: Legal matters, government deadlines, security alerts, payment due, action required\n- MEDIUM: Bank alerts, account notices, billing\n- LOW: Promotions, newsletters, social, informational\n\nCompany detection:\n- HOZ: Home appliance business, hoz.sg domain\n- TNER: Travel/tours business, tner.sg domain\n- WRAP: wrap.sg domain\n- Personal: Everything else",
              "role": "system"
            },
            {
              "content": "=From: {{ $json.from }}\nSubject: {{ $json.subject }}\nSnippet: {{ $json.snippet }}"
            }
          ]
        },
        "options": {
          "temperature": 0.1
        }
      },
      "id": "openai-classify",
      "name": "AI Classify",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1120,
        208
      ],
      "credentials": {
        "openAiApi": {
          "id": "REDACTED",
          "name": "HAW_AI_DESK_DEV"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse AI response and merge with original data\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const original = item.json;\n  let aiResult = {};\n  \n  try {\n    // The AI response is in the message content\n    const content = original.message?.content || original.text || '{}';\n    // Clean up any markdown formatting\n    const cleaned = content.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n    aiResult = JSON.parse(cleaned);\n  } catch (e) {\n    // If parsing fails, use defaults\n    aiResult = {\n      company: 'Personal',\n      category: 'Other',\n      urgency: 'low',\n      reason: 'AI parse error'\n    };\n  }\n  \n  results.push({\n    json: {\n      ...original,\n      company: aiResult.company || 'Personal',\n      category: aiResult.category || 'Other',\n      urgency: aiResult.urgency || 'low',\n      aiReason: aiResult.reason || '',\n      classifiedBy: 'AI'\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "code-parse-ai",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "// Add classifiedBy field for rule-based items\nconst items = $input.all();\nreturn items.map(item => ({\n  json: {\n    ...item.json,\n    classifiedBy: 'Rules'\n  }\n}));"
      },
      "id": "code-mark-rules",
      "name": "Mark as Rule-Classified",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        400
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "merge",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1568,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "// Convert classification to Gmail labels\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const c = item.json;\n  const labelsToAdd = [];\n  \n  // Company label\n  if (c.company && c.company !== 'Personal') {\n    labelsToAdd.push(c.company);\n  }\n  \n  // Category label\n  if (c.category) {\n    // Replace / with - for Gmail compatibility\n    labelsToAdd.push(c.category.replace('/', '-'));\n  }\n  \n  // Urgency label for high priority\n  if (c.urgency === 'high') {\n    labelsToAdd.push('Action-Required');\n  }\n  \n  // Always add Processed label\n  labelsToAdd.push('Processed');\n  \n  results.push({\n    json: {\n      ...c,\n      labelsToAdd: labelsToAdd,\n      labelString: labelsToAdd.join(', ')\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "code-labels",
      "name": "Prepare Labels",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        304
      ]
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": "={{ $json.labelsToAdd }}"
      },
      "id": "gmail-add-labels",
      "name": "Apply Gmail Labels",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2000,
        304
      ],
      "webhookId": "69d2fc3d-200b-4494-ae6f-144ceb2a42fc",
      "credentials": {
        "gmailOAuth2": {
          "id": "REDACTED",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-low-urgency",
              "leftValue": "={{ $json.urgency }}",
              "rightValue": "low",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-should-archive",
      "name": "Low Urgency? (Archive)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2224,
        304
      ]
    },
    {
      "parameters": {
        "operation": "removeLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": ["INBOX"]
      },
      "id": "gmail-archive",
      "name": "Archive Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2448,
        208
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "REDACTED",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Log important emails kept in inbox\nconst items = $input.all();\n\nfor (const item of items) {\n  console.log('📬 KEPT IN INBOX:', item.json.urgency, 'urgency');\n  console.log('From:', item.json.from);\n  console.log('Subject:', item.json.subject);\n}\n\nreturn items;"
      },
      "id": "code-keep-inbox",
      "name": "Keep in Inbox",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2448,
        400
      ]
    },
    {
      "parameters": {},
      "id": "noop-done",
      "name": "Done",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2672,
        304
      ]
    }
  ],
  "connections": {
    "Every 15 Minutes": {
      "main": [
        [
          {
            "node": "Get Unread Emails (max 50)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Unread Emails (max 50)": {
      "main": [
        [
          {
            "node": "Apply Rule-Based Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Rule-Based Classification": {
      "main": [
        [
          {
            "node": "Needs AI?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs AI?": {
      "main": [
        [
          {
            "node": "AI Classify",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark as Rule-Classified",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Classify": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark as Rule-Classified": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Prepare Labels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Labels": {
      "main": [
        [
          {
            "node": "Apply Gmail Labels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Gmail Labels": {
      "main": [
        [
          {
            "node": "Low Urgency? (Archive)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Low Urgency? (Archive)": {
      "main": [
        [
          {
            "node": "Archive Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Keep in Inbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Archive Email": {
      "main": [
        [
          {
            "node": "Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keep in Inbox": {
      "main": [
        [
          {
            "node": "Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "exportedAt": "2025-12-06T09:18:53.492Z",
    "n8nId": "nHUnxLKwhMqC5GT1",
    "active": false,
    "note": "Credentials and secrets have been redacted. Re-configure in n8n after import."
  }
}
