workflows/admin/hoz-email-classifier.json
{
  "name": "HOZ | Admin | email-classifier",
  "id": "b1glt2ypMuMgkmhN",
  "versionCounter": 10,
  "updatedAt": "2025-12-07T13:15:50.000Z",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        304
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 5,
        "filters": {
          "q": "-label:HOZ-Processed in:inbox"
        }
      },
      "id": "gmail-get-emails",
      "name": "Get Unprocessed Emails",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        464,
        208
      ],
      "webhookId": "7cb84b00-7fba-4a34-b91a-e5604f8d8517",
      "credentials": {
        "gmailOAuth2": {
          "id": "wj7aNsMqDcoKmmAg",
          "name": "home@hoz account"
        }
      }
    },
    {
      "parameters": {
        "resource": "label"
      },
      "id": "gmail-get-labels",
      "name": "Get All Labels",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        464,
        400
      ],
      "webhookId": "e746bffd-6a10-4df0-845d-9d3c12425584",
      "credentials": {
        "gmailOAuth2": {
          "id": "wj7aNsMqDcoKmmAg",
          "name": "home@hoz account"
        }
      }
    },
    {
      "parameters": {},
      "id": "merge-wait",
      "name": "Wait for Both",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        688,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "const allInputs = $input.all();\n\n// Separate labels and emails\nconst labelItems = allInputs.filter(item => item.json.type === 'user' || item.json.type === 'system' || item.json.labelListVisibility);\nconst emailItems = allInputs.filter(item => item.json.id && item.json.threadId && !item.json.labelListVisibility);\n\n// Build label map\nconst labelMap = {};\nfor (const item of labelItems) {\n  const label = item.json;\n  if (label.name && label.id) {\n    labelMap[label.name] = label.id;\n    labelMap[label.name.toLowerCase()] = label.id;\n  }\n}\n\n// Classification rules for HOZ\nconst RULES = {\n  // ========== HIGH PRIORITY - Orders (stay in inbox) ==========\n  'shopee-order': {\n    senders: ['mail.shopee.sg'],\n    subjects: ['time to ship', 'order #', 'new order', 'order placed'],\n    category: 'Orders/Shopee',\n    urgency: 'high'\n  },\n  'lazada-order': {\n    senders: ['lazada.sg', 'mail.lazada.sg'],\n    subjects: ['order', 'ship'],\n    category: 'Orders/Lazada',\n    urgency: 'high'\n  },\n  'tiktok-order': {\n    senders: ['shop.tiktok.com'],\n    subjects: ['order', 'ship', 'new order'],\n    category: 'Orders/TikTok',\n    urgency: 'high'\n  },\n  'website-order': {\n    senders: ['order@mailhub.hoz.sg', 'mailhub.hoz.sg'],\n    category: 'Orders/Website',\n    urgency: 'high'\n  },\n  \n  // ========== HIGH PRIORITY - Business inquiries ==========\n  'b2b-inquiry': {\n    subjects: ['quotation', 'quote', 'enquiry', 'inquiry', 'rfq', 'request for', 'digital lock set', 'please help to quote'],\n    category: 'Sales/Inquiry',\n    urgency: 'high'\n  },\n  \n  // ========== MEDIUM PRIORITY - Operations ==========\n  'trustec-jobs': {\n    senders: ['flcorder.com', 'no-reply@flcorder.com'],\n    category: 'Operations/Installation',\n    urgency: 'medium'\n  },\n  'servicem8': {\n    senders: ['servicem8.com', 'support@servicem8.com'],\n    category: 'Operations/Jobs',\n    urgency: 'medium'\n  },\n  \n  // ========== MEDIUM PRIORITY - Finance (important) ==========\n  'omise-receipts': {\n    senders: ['omise.co', 'opn.ooo'],\n    subjects: ['receipt', 'payment', 'invoice', 'transaction'],\n    category: 'Finance/Payment',\n    urgency: 'medium'\n  },\n  'google-payments': {\n    senders: ['payments-noreply@google.com'],\n    category: 'Finance/Payment',\n    urgency: 'medium'\n  },\n  \n  // ========== MEDIUM PRIORITY - Government ==========\n  'government': {\n    senders: ['enterprisesg.gov.sg', 'iras.gov.sg', 'acra.gov.sg', 'mom.gov.sg', 'singpass'],\n    category: 'Government',\n    urgency: 'medium'\n  },\n  \n  // ========== MEDIUM PRIORITY - Security alerts ==========\n  'security': {\n    senders: ['otp.shopee.sg'],\n    category: 'Security',\n    urgency: 'medium'\n  },\n  'security-subjects': {\n    subjects: ['security notification', 'device change', 'login alert', 'password', 'verification', '2fa', 'suspicious', 'otp'],\n    category: 'Security',\n    urgency: 'medium'\n  },\n  \n  // ========== LOW PRIORITY - Marketplace marketing (archive) ==========\n  'shopee-promo': {\n    senders: ['newsletter.shopee.sg', 'sellerinfo@newsletter.shopee.sg'],\n    category: 'Promotions/Shopee',\n    urgency: 'low'\n  },\n  'shopee-promo2': {\n    senders: ['mail.shopee.sg', 'shopee.sg'],\n    subjects: ['sale', 'voucher', 'coin', 'cashback', 'promo', 'discount', 'flash'],\n    category: 'Promotions/Shopee',\n    urgency: 'low'\n  },\n  'lazada-promo': {\n    senders: ['lazada.sg'],\n    subjects: ['sale', 'voucher', 'cashback', 'promo', 'discount'],\n    category: 'Promotions/Lazada',\n    urgency: 'low'\n  },\n  'tiktok-marketing': {\n    senders: ['shop.tiktok.com', 'tiktok.com', 'notifications.tiktok.com'],\n    subjects: ['mission', 'reward', 'boost', 'grow', 'webinar', 'seller', 'performance', 'star shop', 'level up'],\n    category: 'Promotions/TikTok',\n    urgency: 'low'\n  },\n  \n  // ========== LOW PRIORITY - Financial marketing ==========\n  'fintech-marketing': {\n    senders: ['cardup.co', 'thecardup.com', 'hello@cardup.co', 'fundingsocieties', 'velocitycappl.com', 'funding-societies', 'aspire.io'],\n    category: 'Promotions/Marketplace',\n    urgency: 'low'\n  },\n  'loan-marketing': {\n    subjects: ['working capital loan', 'business loan', 'credit line', 'cash flow', 'invoice financing'],\n    category: 'Promotions/Marketplace',\n    urgency: 'low'\n  },\n  \n  // ========== LOW PRIORITY - Spam senders ==========\n  'eliteinnoplus-spam': {\n    senders: ['eliteinnoplus.com', 'ranik@eliteinnoplus.com'],\n    category: 'Spam',\n    urgency: 'low'\n  },\n  'antbuildz-spam': {\n    senders: ['antbuildz.com', 'heanhooi.kek@antbuildz.com'],\n    category: 'Spam',\n    urgency: 'low'\n  },\n  'recruitment-spam': {\n    senders: ['elite manpower', 'elitemanpower', 'manpower agency', 'manpoweragency'],\n    category: 'Spam',\n    urgency: 'low'\n  },\n  'recruitment-subjects': {\n    subjects: ['construction workers', 'foreign workers', 'manpower', 'work permit', 'quota issues', 'remote workers', 'driver, general, safety'],\n    category: 'Spam',\n    urgency: 'low'\n  },\n  'supplier-spam': {\n    senders: ['zxcfiredoor.com'],\n    category: 'Spam',\n    urgency: 'low'\n  },\n  'china-supplier': {\n    subjects: ['smart cylinders', 'fire door', 'factory', 'original factory', 'supplier from', 'manufacturer'],\n    category: 'Spam',\n    urgency: 'low'\n  },\n  'cold-outreach': {\n    subjects: ['looking for an ai course', 'ai course', 'business opportunity', 'partnership opportunity'],\n    category: 'Spam',\n    urgency: 'low'\n  },\n  \n  // ========== LOW PRIORITY - Platform marketing ==========\n  'chopnow': {\n    senders: ['chopnow.com', 'hello@chopnow.com'],\n    category: 'Promotions/Marketplace',\n    urgency: 'low'\n  },\n  'alibaba': {\n    senders: ['service.alibaba.com', 'feedback@service.alibaba.com'],\n    category: 'Promotions/Marketplace',\n    urgency: 'low'\n  },\n  'omise-marketing': {\n    senders: ['omise.co', 'opn.ooo'],\n    subjects: ['mcp is here', 'new feature', 'introducing', 'update:', 'announcing'],\n    category: 'Promotions/Marketplace',\n    urgency: 'low'\n  },\n  \n  // ========== LOW PRIORITY - Google admin (not payments) ==========\n  'google-admin': {\n    senders: ['ads-noreply@google.com', 'googlebase-noreply@google.com', 'sc-noreply@google.com', 'workspace-noreply@google.com'],\n    category: 'Tech/Google',\n    urgency: 'low'\n  },\n  \n  // ========== LOW PRIORITY - Newsletters ==========\n  'newsletters': {\n    senders: ['substack.com', 'mailchimp', 'convertkit', 'beehiiv', 'buttondown', 'ecommercefuel.com'],\n    category: 'Newsletters',\n    urgency: 'low'\n  },\n  'newsletter-subjects': {\n    subjects: ['newsletter', 'weekly digest', 'monthly update', 'i disappeared for a while', 'bulletin'],\n    category: 'Newsletters',\n    urgency: 'low'\n  },\n  'wsh-bulletin': {\n    senders: ['wshc.sg', 'wshbulletin@wshc.sg'],\n    category: 'Newsletters',\n    urgency: 'low'\n  },\n  \n  // ========== LOW PRIORITY - Social/Notifications (archive) ==========\n  'carousell': {\n    senders: ['carousell.com', 'marketing.carousell.com'],\n    category: 'Social/Carousell',\n    urgency: 'low'\n  },\n  'facebook': {\n    senders: ['facebookmail.com', 'facebook.com'],\n    category: 'Social/Facebook',\n    urgency: 'low'\n  },\n  'linkedin': {\n    senders: ['linkedin.com'],\n    category: 'Social/LinkedIn',\n    urgency: 'low'\n  }\n};\n\nconst results = [];\nfor (const item of emailItems) {\n  const email = item.json;\n  const from = (email.From || '').toLowerCase();\n  const subject = (email.Subject || '').toLowerCase();\n  const snippet = (email.snippet || '').toLowerCase();\n  const labels = email.labels || [];\n  \n  let c = {\n    id: email.id,\n    threadId: email.threadId,\n    from: email.From,\n    subject: email.Subject,\n    snippet: email.snippet,\n    category: null,\n    urgency: 'medium',\n    needsAI: false,\n    _labelMap: labelMap\n  };\n  \n  // Check if it's an order first (highest priority check)\n  const isOrder = subject.includes('order') || subject.includes('ship') || subject.includes('time to ship');\n  \n  // Apply rules in order (first match wins)\n  for (const [ruleName, rule] of Object.entries(RULES)) {\n    let senderMatch = false;\n    let subjectMatch = false;\n    \n    if (rule.senders) {\n      senderMatch = rule.senders.some(s => from.includes(s.toLowerCase()));\n    }\n    \n    if (rule.subjects) {\n      subjectMatch = rule.subjects.some(s => subject.includes(s.toLowerCase()) || snippet.includes(s.toLowerCase()));\n    }\n    \n    let matched = false;\n    \n    if (ruleName.includes('order') && !ruleName.includes('promo')) {\n      // Order rules: sender + order-related subject\n      matched = senderMatch && (isOrder || !rule.subjects || subjectMatch);\n    } else if (ruleName.includes('promo') || ruleName.includes('marketing')) {\n      // Promo rules: sender + promo subject, but NOT if it's an order\n      if (rule.senders && rule.subjects) {\n        matched = senderMatch && subjectMatch && !isOrder;\n      } else if (rule.senders) {\n        matched = senderMatch && !isOrder;\n      }\n    } else if (rule.subjects && !rule.senders) {\n      // Subject-only rules (like b2b-inquiry, spam subjects)\n      matched = subjectMatch;\n    } else if (rule.senders && !rule.subjects) {\n      // Sender-only rules\n      matched = senderMatch;\n    } else if (rule.senders && rule.subjects) {\n      // Both sender and subject required\n      matched = senderMatch && subjectMatch;\n    }\n    \n    if (matched) {\n      c.category = rule.category;\n      c.urgency = rule.urgency;\n      break;\n    }\n  }\n  \n  // If no category matched, mark for AI classification\n  if (!c.category) {\n    c.needsAI = true;\n  }\n  \n  results.push({ json: c });\n}\n\nreturn results;"
      },
      "id": "code-rules",
      "name": "Apply HOZ Rules",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "needs-ai",
              "leftValue": "={{ $json.needsAI }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-needs-ai",
      "name": "Needs AI?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1120,
        304
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "messages": {
          "values": [
            {
              "content": "You classify HOZ (digital lock business) emails. Respond with ONLY valid JSON, no markdown:\n{\"category\":\"Orders/Website\"|\"Orders/Shopee\"|\"Orders/Lazada\"|\"Orders/TikTok\"|\"Sales/Inquiry\"|\"Sales/Lead\"|\"Operations/Installation\"|\"Operations/Service\"|\"Finance/Invoice\"|\"Finance/Payment\"|\"Government\"|\"Promotions/Marketplace\"|\"Social\"|\"Spam\"|\"Other\",\"urgency\":\"high\"|\"medium\"|\"low\"}\n\nHigh urgency: New orders, customer inquiries, quotation requests, government\nMedium urgency: Installation appointments, service requests, invoices\nLow urgency: Promotions, social notifications, marketing, newsletters",
              "role": "system"
            },
            {
              "content": "From: {{ $json.from }}\nSubject: {{ $json.subject }}\nSnippet: {{ $json.snippet }}"
            }
          ]
        },
        "options": {
          "maxTokens": 150,
          "temperature": 0.1
        }
      },
      "id": "openai-classify",
      "name": "AI Classify",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1344,
        208
      ],
      "credentials": {
        "openAiApi": {
          "id": "fra71BbB2pdeQOhy",
          "name": "HAW_AI_DESK_DEV"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\nconst originalEmails = $('Needs AI?').all();\n\nfor (let i = 0; i < items.length; i++) {\n  const aiResponse = items[i].json;\n  let aiResult = { category: 'Other', urgency: 'low' };\n  \n  try {\n    const content = aiResponse.message?.content || aiResponse.text || '{}';\n    const cleaned = content.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n    aiResult = JSON.parse(cleaned);\n  } catch (e) {\n    console.log('AI parse error:', e.message);\n  }\n  \n  const pairedIndex = items[i].pairedItem?.item ?? i;\n  const originalEmail = originalEmails[pairedIndex]?.json || {};\n  \n  results.push({\n    json: {\n      ...originalEmail,\n      category: aiResult.category || 'Other',\n      urgency: aiResult.urgency || 'low',\n      classifiedBy: 'AI'\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "code-parse-ai",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => ({ json: { ...item.json, classifiedBy: 'Rules' } }));"
      },
      "id": "code-mark-rules",
      "name": "Mark Rules",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        400
      ]
    },
    {
      "parameters": {},
      "id": "merge-results",
      "name": "Merge All",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1792,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "const results = [];\nfor (const item of $input.all()) {\n  const c = item.json;\n  const labelMap = c._labelMap || {};\n  const labelIds = [];\n  const labelNames = [];\n  \n  const addLabel = (name) => {\n    const id = labelMap[name] || labelMap[name.toLowerCase()];\n    if (id) { labelIds.push(id); labelNames.push(name); }\n  };\n  \n  // Add category label\n  if (c.category) {\n    addLabel(c.category);\n    // Also try parent category\n    const parent = c.category.split('/')[0];\n    if (parent !== c.category) addLabel(parent);\n  }\n  \n  // Add urgency label for high priority\n  if (c.urgency === 'high') addLabel('Action-Required');\n  \n  // Always add processed label\n  addLabel('HOZ-Processed');\n  \n  const { _labelMap, ...cleanData } = c;\n  results.push({ json: { ...cleanData, labelsToAdd: labelIds, labelNames: labelNames } });\n}\n\nreturn results;"
      },
      "id": "code-labels",
      "name": "Prepare Labels",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-low",
              "leftValue": "={{ $json.urgency }}",
              "rightValue": "low",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-low-urgency",
      "name": "Low Urgency?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2224,
        304
      ]
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": "={{ $json.labelsToAdd }}"
      },
      "id": "gmail-add-labels-low",
      "name": "Apply Labels (Low)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2448,
        208
      ],
      "webhookId": "ca725b54-5949-4e81-9890-3b8c75088d08",
      "credentials": {
        "gmailOAuth2": {
          "id": "wj7aNsMqDcoKmmAg",
          "name": "home@hoz account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": "={{ $json.labelsToAdd }}"
      },
      "id": "gmail-add-labels-high",
      "name": "Apply Labels (Keep)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2448,
        400
      ],
      "webhookId": "2fcd5e9b-b1b3-45da-9efe-5f65c181b793",
      "credentials": {
        "gmailOAuth2": {
          "id": "wj7aNsMqDcoKmmAg",
          "name": "home@hoz account"
        }
      }
    },
    {
      "parameters": {
        "operation": "removeLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "INBOX"
        ]
      },
      "id": "gmail-archive",
      "name": "Archive (Remove from Inbox)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2672,
        208
      ],
      "webhookId": "eb18d81b-1641-4745-8acd-4083a47fd39c",
      "credentials": {
        "gmailOAuth2": {
          "id": "wj7aNsMqDcoKmmAg",
          "name": "home@hoz account"
        }
      }
    },
    {
      "parameters": {},
      "id": "noop",
      "name": "Done",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2880,
        304
      ]
    }
  ],
  "connections": {
    "Every 15 Minutes": {
      "main": [
        [
          {
            "node": "Get Unprocessed Emails",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get All Labels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Unprocessed Emails": {
      "main": [
        [
          {
            "node": "Wait for Both",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Labels": {
      "main": [
        [
          {
            "node": "Wait for Both",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Wait for Both": {
      "main": [
        [
          {
            "node": "Apply HOZ Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply HOZ Rules": {
      "main": [
        [
          {
            "node": "Needs AI?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs AI?": {
      "main": [
        [
          {
            "node": "AI Classify",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Classify": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Merge All",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Rules": {
      "main": [
        [
          {
            "node": "Merge All",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge All": {
      "main": [
        [
          {
            "node": "Prepare Labels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Labels": {
      "main": [
        [
          {
            "node": "Low Urgency?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Low Urgency?": {
      "main": [
        [
          {
            "node": "Apply Labels (Low)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Apply Labels (Keep)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Labels (Low)": {
      "main": [
        [
          {
            "node": "Archive (Remove from Inbox)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Labels (Keep)": {
      "main": [
        [
          {
            "node": "Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Archive (Remove from Inbox)": {
      "main": [
        [
          {
            "node": "Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Every 15 Minutes": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {}
}