workflows/admin/tner-human-conversation-monitor.json
{
  "name": "TNER | Admin | human-conversation-monitor",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": [
          {
            "mode": "everyX",
            "unit": "minutes",
            "value": 5
          }
        ]
      },
      "id": "cron",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT tc.user_id, tc.conversation_id\nFROM tner_conversations tc\nWHERE tc.mode = 'human'\n  AND tc.last_activity_at < NOW() - INTERVAL '30 minutes';"
      },
      "id": "fetch-idle",
      "name": "Fetch Idle Human Threads",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        400,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "REDACTED",
          "name": "Supabase TNER"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE tner_conversations\nSET mode = 'ai',\n    resolved_at = NOW(),\n    resolved_by = 'auto_timeout',\n    escalation_reason = NULL\nWHERE user_id = '{{ $json.user_id }}';"
      },
      "id": "resolve-conversation",
      "name": "Resolve Conversation",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        600,
        260
      ],
      "credentials": {
        "supabaseApi": {
          "id": "REDACTED",
          "name": "Supabase TNER"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v18.0/892291267291974/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{ $json.user_id }}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text",
              "value": "={{ { body: 'I\\'m back to help! Let me know if you still need anything or type \"speak to human\" anytime.' } }}"
            }
          ]
        }
      },
      "id": "send-followup",
      "name": "Send Follow-up",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        600,
        360
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REDACTED",
          "name": "WhatsApp Authorization"
        }
      }
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Fetch Idle Human Threads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Idle Human Threads": {
      "main": [
        [
          {
            "node": "Resolve Conversation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Follow-up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "exportedAt": "2025-12-06T05:32:08.843Z",
    "n8nId": "1JGCooBvotGTCURf",
    "active": false,
    "note": "Credentials and secrets have been redacted. Re-configure in n8n after import."
  }
}