workflows/dev/finance/tner-rental-manager.json
{
  "name": "TNER | Finance | rental-manager [DEV]",
  "id": "P35tGlEN0hhuDtfu",
  "versionCounter": 11,
  "updatedAt": "2025-12-09T07:02:21.469Z",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tner/rentals",
        "responseMode": "responseNode",
        "options": {
          "onError": "continueRegularOutput"
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 400],
      "webhookId": "tner-rentals"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Parse and validate incoming webhook payload\nconst payload = $input.first().json.body || $input.first().json;\n\n// Validate required fields\nif (!payload.action) {\n  throw new Error('Missing required field: action');\n}\n\nconst validActions = [\n  'create',\n  'update', \n  'confirm',\n  'prepare',\n  'deliver',\n  'pickup',\n  'return',\n  'complete',\n  'cancel'\n];\n\nif (!validActions.includes(payload.action)) {\n  throw new Error(`Invalid action: ${payload.action}. Valid actions: ${validActions.join(', ')}`);\n}\n\n// For create action, validate required rental fields\nif (payload.action === 'create') {\n  const rental = payload.rental || {};\n  if (!rental.customer_name) throw new Error('Missing required field: rental.customer_name');\n  if (!rental.start_date) throw new Error('Missing required field: rental.start_date');\n  if (!rental.end_date) throw new Error('Missing required field: rental.end_date');\n}\n\n// For other actions, require rental_id\nif (payload.action !== 'create' && !payload.rental_id) {\n  throw new Error('Missing required field: rental_id for action: ' + payload.action);\n}\n\nreturn [{\n  json: {\n    action: payload.action,\n    rental_id: payload.rental_id || null,\n    rental: payload.rental || {},\n    changed_by: payload.changed_by || 'API: Dashboard',\n    note: payload.note || null,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "parse-payload",
      "name": "Parse Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 400]
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "outputKey": "Create",
              "conditions": {
                "options": {
                  "version": 2,
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "create"
                  }
                ]
              },
              "renameOutput": true
            },
            {
              "outputKey": "Update",
              "conditions": {
                "options": {
                  "version": 2,
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "update"
                  }
                ]
              },
              "renameOutput": true
            },
            {
              "outputKey": "Status Change",
              "conditions": {
                "options": {
                  "version": 2,
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "or",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "confirm"
                  },
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "prepare"
                  },
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "deliver"
                  },
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "pickup"
                  },
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "return"
                  },
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "complete"
                  }
                ]
              },
              "renameOutput": true
            },
            {
              "outputKey": "Cancel",
              "conditions": {
                "options": {
                  "version": 2,
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "cancel"
                  }
                ]
              },
              "renameOutput": true
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "route-action",
      "name": "Route by Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [680, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.xero.com/connections",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "xeroOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "get-xero-tenants",
      "name": "Get Xero Tenants",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [920, 200],
      "credentials": {
        "xeroOAuth2Api": {
          "id": "acPNCKWEdEc0gA8V",
          "name": "Xero account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Find ALWC (TNER) tenant from Xero connections\nconst connections = $input.all();\nconst alwcConnection = connections.find(conn => \n  conn.json.tenantName && \n  (conn.json.tenantName.toUpperCase().includes('ALWC') || \n   conn.json.tenantName.toUpperCase().includes('TNER'))\n);\n\nif (!alwcConnection) {\n  throw new Error('ALWC/TNER tenant not found in Xero connections');\n}\n\n// Get original payload from Parse Payload node\nconst payload = $('Parse Payload').first().json;\nconst rental = payload.rental;\n\nreturn [{\n  json: {\n    tenantId: alwcConnection.json.tenantId,\n    tenantName: alwcConnection.json.tenantName,\n    action: payload.action,\n    rental: rental,\n    changed_by: payload.changed_by,\n    note: payload.note,\n    timestamp: payload.timestamp\n  }\n}];"
      },
      "id": "find-alwc-tenant",
      "name": "Find ALWC Tenant",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1140, 200]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Prepare Xero contact from rental customer data\nconst data = $input.first().json;\nconst rental = data.rental;\n\n// Build contact payload for Xero\nconst contact = {\n  Name: rental.customer_name,\n  Phones: []\n};\n\nif (rental.customer_email) {\n  contact.EmailAddress = rental.customer_email;\n}\n\nif (rental.customer_phone) {\n  // Clean phone number for Xero (remove + prefix)\n  const cleanPhone = rental.customer_phone.replace(/^\\+/, '');\n  contact.Phones.push({\n    PhoneType: 'MOBILE',\n    PhoneNumber: cleanPhone\n  });\n}\n\nif (rental.customer_address) {\n  // Parse Singapore address\n  const addressLines = rental.customer_address.split('\\n');\n  const postalMatch = rental.customer_address.match(/(\\d{6})/);\n  \n  contact.Addresses = [{\n    AddressType: 'STREET',\n    AddressLine1: addressLines[0] || rental.customer_address.substring(0, 100),\n    AddressLine2: addressLines[1] || '',\n    PostalCode: postalMatch ? postalMatch[1] : '',\n    Country: 'Singapore'\n  }];\n}\n\nreturn [{\n  json: {\n    ...data,\n    xeroContact: contact\n  }\n}];"
      },
      "id": "prepare-contact",
      "name": "Prepare Contact",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1360, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.xero.com/api.xro/2.0/Contacts?summarizeErrors=false",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "xeroOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xero-tenant-id",
              "value": "={{ $json.tenantId }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ Contacts: [$json.xeroContact] }) }}",
        "options": {}
      },
      "id": "upsert-xero-contact",
      "name": "Upsert Xero Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1580, 200],
      "credentials": {
        "xeroOAuth2Api": {
          "id": "acPNCKWEdEc0gA8V",
          "name": "Xero account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Build Xero invoice from rental data\nconst contactResponse = $input.first().json;\nconst prevData = $('Prepare Contact').first().json;\nconst rental = prevData.rental;\n\n// Extract contact ID from Xero response\nconst contactId = contactResponse.Contacts?.[0]?.ContactID;\nif (!contactId) {\n  throw new Error('Failed to get ContactID from Xero response');\n}\n\n// Calculate rental days\nconst startDate = new Date(rental.start_date);\nconst endDate = new Date(rental.end_date);\nconst durationDays = Math.ceil((endDate - startDate) / (1000 * 60 * 60 * 24));\n\n// Build line items\nconst lineItems = [];\n\n// Main rental line item\nconst luggageDesc = rental.luggage_size ? \n  `Luggage Rental - ${rental.luggage_size.charAt(0).toUpperCase() + rental.luggage_size.slice(1)}` :\n  'Luggage Rental';\n\nconst quantity = rental.quantity || 1;\n\nlineItems.push({\n  Description: `${luggageDesc} x${quantity} (${durationDays} days: ${rental.start_date} to ${rental.end_date})`,\n  Quantity: 1,\n  UnitAmount: rental.rental_amount || 0,\n  AccountCode: '200'\n});\n\n// Delivery fee if applicable\nif (rental.delivery_fee && rental.delivery_fee > 0) {\n  lineItems.push({\n    Description: `Delivery Fee (${rental.delivery_type === 'delivery' ? 'Delivered' : 'Collection'})`,\n    Quantity: 1,\n    UnitAmount: rental.delivery_fee,\n    AccountCode: '200'\n  });\n}\n\n// Calculate due date (7 days from start or today, whichever is later)\nconst today = new Date();\nconst dueDate = new Date(Math.max(startDate.getTime(), today.getTime()));\ndueDate.setDate(dueDate.getDate() + 7);\n\nconst invoice = {\n  Type: 'ACCREC',\n  Contact: {\n    ContactID: contactId\n  },\n  Date: today.toISOString().split('T')[0],\n  DueDate: dueDate.toISOString().split('T')[0],\n  LineAmountTypes: 'Inclusive',\n  LineItems: lineItems,\n  Status: 'AUTHORISED',\n  Reference: `Rental: ${rental.start_date} to ${rental.end_date}`\n};\n\nreturn [{\n  json: {\n    tenantId: prevData.tenantId,\n    rental: rental,\n    contactId: contactId,\n    xeroInvoice: invoice,\n    changed_by: prevData.changed_by,\n    note: prevData.note,\n    timestamp: prevData.timestamp\n  }\n}];"
      },
      "id": "prepare-invoice",
      "name": "Prepare Invoice",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1800, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.xero.com/api.xro/2.0/Invoices",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "xeroOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xero-tenant-id",
              "value": "={{ $json.tenantId }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ Invoices: [$json.xeroInvoice] }) }}",
        "options": {}
      },
      "id": "create-xero-invoice",
      "name": "Create Xero Invoice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [2020, 200],
      "credentials": {
        "xeroOAuth2Api": {
          "id": "acPNCKWEdEc0gA8V",
          "name": "Xero account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Prepare rental record for Supabase insertion\nconst invoiceResponse = $input.first().json;\nconst prevData = $('Prepare Invoice').first().json;\nconst rental = prevData.rental;\n\n// Extract invoice details from Xero response\nconst xeroInvoice = invoiceResponse.Invoices?.[0];\nif (!xeroInvoice) {\n  throw new Error('Failed to get invoice from Xero response');\n}\n\n// Use Xero Invoice Number as rental reference (e.g., INV-0001)\nconst rentalRef = xeroInvoice.InvoiceNumber;\n\n// Calculate total amount\nconst totalAmount = (rental.rental_amount || 0) + (rental.delivery_fee || 0);\n\n// Build Supabase record\nconst supabaseRecord = {\n  rental_ref: rentalRef,\n  xero_invoice_id: xeroInvoice.InvoiceID,\n  xero_invoice_number: xeroInvoice.InvoiceNumber,\n  xero_contact_id: prevData.contactId,\n  \n  customer_name: rental.customer_name,\n  customer_phone: rental.customer_phone || null,\n  customer_email: rental.customer_email || null,\n  customer_address: rental.customer_address || null,\n  \n  start_date: rental.start_date,\n  end_date: rental.end_date,\n  \n  luggage_size: rental.luggage_size || null,\n  luggage_model: rental.luggage_model || null,\n  luggage_color: rental.luggage_color || null,\n  quantity: rental.quantity || 1,\n  \n  delivery_type: rental.delivery_type || null,\n  delivery_address: rental.delivery_address || null,\n  delivery_date: rental.delivery_date || null,\n  delivery_time: rental.delivery_time || null,\n  delivery_notes: rental.delivery_notes || null,\n  \n  return_type: rental.return_type || null,\n  return_address: rental.return_address || null,\n  return_date: rental.return_date || null,\n  return_time: rental.return_time || null,\n  return_notes: rental.return_notes || null,\n  \n  rental_status: rental.rental_status || 'pending',\n  payment_status: rental.payment_status || 'unpaid',\n  \n  rental_amount: rental.rental_amount || 0,\n  delivery_fee: rental.delivery_fee || 0,\n  deposit_amount: rental.deposit_amount || 0,\n  total_amount: totalAmount,\n  amount_paid: 0,\n  amount_due: totalAmount,\n  \n  booking_source: rental.booking_source || 'dashboard'\n};\n\nreturn [{\n  json: {\n    supabaseRecord: supabaseRecord,\n    xeroInvoice: xeroInvoice,\n    changed_by: prevData.changed_by,\n    note: prevData.note,\n    timestamp: prevData.timestamp\n  }\n}];"
      },
      "id": "prepare-supabase-record",
      "name": "Prepare Supabase Record",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2240, 200]
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "tner_rentals",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {"fieldId": "rental_ref", "fieldValue": "={{ $json.supabaseRecord.rental_ref }}"},
            {"fieldId": "xero_invoice_id", "fieldValue": "={{ $json.supabaseRecord.xero_invoice_id }}"},
            {"fieldId": "xero_invoice_number", "fieldValue": "={{ $json.supabaseRecord.xero_invoice_number }}"},
            {"fieldId": "xero_contact_id", "fieldValue": "={{ $json.supabaseRecord.xero_contact_id }}"},
            {"fieldId": "customer_name", "fieldValue": "={{ $json.supabaseRecord.customer_name }}"},
            {"fieldId": "customer_phone", "fieldValue": "={{ $json.supabaseRecord.customer_phone }}"},
            {"fieldId": "customer_email", "fieldValue": "={{ $json.supabaseRecord.customer_email }}"},
            {"fieldId": "customer_address", "fieldValue": "={{ $json.supabaseRecord.customer_address }}"},
            {"fieldId": "start_date", "fieldValue": "={{ $json.supabaseRecord.start_date }}"},
            {"fieldId": "end_date", "fieldValue": "={{ $json.supabaseRecord.end_date }}"},
            {"fieldId": "luggage_size", "fieldValue": "={{ $json.supabaseRecord.luggage_size }}"},
            {"fieldId": "luggage_model", "fieldValue": "={{ $json.supabaseRecord.luggage_model }}"},
            {"fieldId": "luggage_color", "fieldValue": "={{ $json.supabaseRecord.luggage_color }}"},
            {"fieldId": "quantity", "fieldValue": "={{ $json.supabaseRecord.quantity }}"},
            {"fieldId": "delivery_type", "fieldValue": "={{ $json.supabaseRecord.delivery_type }}"},
            {"fieldId": "delivery_address", "fieldValue": "={{ $json.supabaseRecord.delivery_address }}"},
            {"fieldId": "delivery_date", "fieldValue": "={{ $json.supabaseRecord.delivery_date }}"},
            {"fieldId": "delivery_time", "fieldValue": "={{ $json.supabaseRecord.delivery_time }}"},
            {"fieldId": "delivery_notes", "fieldValue": "={{ $json.supabaseRecord.delivery_notes }}"},
            {"fieldId": "return_type", "fieldValue": "={{ $json.supabaseRecord.return_type }}"},
            {"fieldId": "return_address", "fieldValue": "={{ $json.supabaseRecord.return_address }}"},
            {"fieldId": "return_date", "fieldValue": "={{ $json.supabaseRecord.return_date }}"},
            {"fieldId": "return_time", "fieldValue": "={{ $json.supabaseRecord.return_time }}"},
            {"fieldId": "return_notes", "fieldValue": "={{ $json.supabaseRecord.return_notes }}"},
            {"fieldId": "rental_status", "fieldValue": "={{ $json.supabaseRecord.rental_status }}"},
            {"fieldId": "payment_status", "fieldValue": "={{ $json.supabaseRecord.payment_status }}"},
            {"fieldId": "rental_amount", "fieldValue": "={{ $json.supabaseRecord.rental_amount }}"},
            {"fieldId": "delivery_fee", "fieldValue": "={{ $json.supabaseRecord.delivery_fee }}"},
            {"fieldId": "deposit_amount", "fieldValue": "={{ $json.supabaseRecord.deposit_amount }}"},
            {"fieldId": "total_amount", "fieldValue": "={{ $json.supabaseRecord.total_amount }}"},
            {"fieldId": "amount_paid", "fieldValue": "={{ $json.supabaseRecord.amount_paid }}"},
            {"fieldId": "amount_due", "fieldValue": "={{ $json.supabaseRecord.amount_due }}"},
            {"fieldId": "booking_source", "fieldValue": "={{ $json.supabaseRecord.booking_source }}"}
          ]
        },
        "options": {}
      },
      "id": "insert-rental",
      "name": "Insert Rental",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2460, 200],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-tner",
          "name": "Supabase TNER"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Prepare change log entry\nconst prevData = $('Prepare Supabase Record').first().json;\nconst insertedRental = $input.first().json;\n\nconst changeLog = {\n  rental_id: insertedRental.id,\n  action: 'created',\n  field: null,\n  old_value: null,\n  new_value: JSON.stringify(prevData.supabaseRecord),\n  changed_by: prevData.changed_by,\n  note: prevData.note || 'Rental created via API'\n};\n\nreturn [{\n  json: {\n    changeLog: changeLog,\n    rental: insertedRental,\n    xeroInvoice: prevData.xeroInvoice\n  }\n}];"
      },
      "id": "prepare-changelog-create",
      "name": "Prepare Changelog",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2680, 200]
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "tner_rental_change_logs",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {"fieldId": "rental_id", "fieldValue": "={{ $json.changeLog.rental_id }}"},
            {"fieldId": "action", "fieldValue": "={{ $json.changeLog.action }}"},
            {"fieldId": "field", "fieldValue": "={{ $json.changeLog.field }}"},
            {"fieldId": "old_value", "fieldValue": "={{ $json.changeLog.old_value }}"},
            {"fieldId": "new_value", "fieldValue": "={{ $json.changeLog.new_value }}"},
            {"fieldId": "changed_by", "fieldValue": "={{ $json.changeLog.changed_by }}"},
            {"fieldId": "note", "fieldValue": "={{ $json.changeLog.note }}"}
          ]
        },
        "options": {}
      },
      "id": "log-change-create",
      "name": "Log Change",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2900, 200],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-tner",
          "name": "Supabase TNER"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"action\": \"create\",\n  \"rental_id\": \"{{ $('Insert Rental').first().json.id }}\",\n  \"rental_ref\": \"{{ $('Insert Rental').first().json.rental_ref }}\",\n  \"xero_invoice_id\": \"{{ $('Prepare Supabase Record').first().json.xeroInvoice.InvoiceID }}\",\n  \"xero_invoice_number\": \"{{ $('Prepare Supabase Record').first().json.xeroInvoice.InvoiceNumber }}\",\n  \"message\": \"Rental created successfully\"\n}",
        "options": {
          "responseCode": 201
        }
      },
      "id": "respond-create-success",
      "name": "Respond Success (Create)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [3120, 200]
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "tner_rentals",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $('Parse Payload').first().json.rental_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-existing-rental-update",
      "name": "Get Existing Rental",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [920, 400],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-tner",
          "name": "Supabase TNER"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Prepare update data\nconst existingRental = $input.first().json;\nconst payload = $('Parse Payload').first().json;\nconst updates = payload.rental;\n\nif (!existingRental || !existingRental.id) {\n  throw new Error('Rental not found: ' + payload.rental_id);\n}\n\n// Build update object with only provided fields\nconst updateRecord = { id: existingRental.id };\nconst changes = [];\n\n// List of updatable fields\nconst updatableFields = [\n  'customer_name', 'customer_phone', 'customer_email', 'customer_address',\n  'start_date', 'end_date',\n  'luggage_size', 'luggage_model', 'luggage_color', 'quantity',\n  'delivery_type', 'delivery_address', 'delivery_date', 'delivery_time', 'delivery_notes',\n  'return_type', 'return_address', 'return_date', 'return_time', 'return_notes',\n  'rental_amount', 'delivery_fee'\n];\n\nfor (const field of updatableFields) {\n  if (updates[field] !== undefined && updates[field] !== existingRental[field]) {\n    changes.push({\n      field: field,\n      old_value: String(existingRental[field] || ''),\n      new_value: String(updates[field] || '')\n    });\n    updateRecord[field] = updates[field];\n  }\n}\n\n// Recalculate totals if amounts changed\nif (updates.rental_amount !== undefined || updates.delivery_fee !== undefined) {\n  const rentalAmt = updates.rental_amount ?? existingRental.rental_amount ?? 0;\n  const deliveryFee = updates.delivery_fee ?? existingRental.delivery_fee ?? 0;\n  updateRecord.total_amount = rentalAmt + deliveryFee;\n  updateRecord.amount_due = updateRecord.total_amount - (existingRental.amount_paid || 0);\n}\n\nreturn [{\n  json: {\n    updateRecord: updateRecord,\n    changes: changes,\n    existingRental: existingRental,\n    changed_by: payload.changed_by,\n    note: payload.note\n  }\n}];"
      },
      "id": "prepare-update",
      "name": "Prepare Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1140, 400]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "tner_rentals",
        "filterType": "string",
        "filterString": "=id=eq.{{ $json.updateRecord.id }}",
        "fieldsToSend": "autoMapInputData",
        "options": {}
      },
      "id": "update-rental",
      "name": "Update Rental",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1360, 400],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-tner",
          "name": "Supabase TNER"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"action\": \"update\",\n  \"rental_id\": \"{{ $('Prepare Update').first().json.existingRental.id }}\",\n  \"changes_count\": {{ $('Prepare Update').first().json.changes.length }},\n  \"message\": \"Rental updated successfully\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-update-success",
      "name": "Respond Success (Update)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1580, 400]
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "tner_rentals",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $('Parse Payload').first().json.rental_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-existing-rental-status",
      "name": "Get Rental for Status",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [920, 600],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-tner",
          "name": "Supabase TNER"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Map action to new status and additional fields\nconst existingRental = $input.first().json;\nconst payload = $('Parse Payload').first().json;\nconst action = payload.action;\n\nif (!existingRental || !existingRental.id) {\n  throw new Error('Rental not found: ' + payload.rental_id);\n}\n\n// Status mapping\nconst statusMap = {\n  'confirm': 'confirmed',\n  'prepare': 'preparing',\n  'deliver': 'delivered',\n  'pickup': 'return_pending',\n  'return': 'returned',\n  'complete': 'completed'\n};\n\nconst newStatus = statusMap[action];\nif (!newStatus) {\n  throw new Error('Invalid status change action: ' + action);\n}\n\n// Build update record\nconst updateRecord = {\n  id: existingRental.id,\n  rental_status: newStatus\n};\n\n// Add timestamp fields based on action\nconst now = new Date().toISOString();\nswitch (action) {\n  case 'deliver':\n    updateRecord.delivered_at = now;\n    break;\n  case 'pickup':\n    updateRecord.picked_up_at = now;\n    break;\n  case 'return':\n    updateRecord.returned_at = now;\n    break;\n  case 'complete':\n    updateRecord.completed_at = now;\n    break;\n}\n\nreturn [{\n  json: {\n    updateRecord: updateRecord,\n    existingRental: existingRental,\n    action: action,\n    oldStatus: existingRental.rental_status,\n    newStatus: newStatus,\n    changed_by: payload.changed_by,\n    note: payload.note\n  }\n}];"
      },
      "id": "prepare-status-change",
      "name": "Prepare Status Change",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1140, 600]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "tner_rentals",
        "filterType": "string",
        "filterString": "=id=eq.{{ $json.updateRecord.id }}",
        "fieldsToSend": "autoMapInputData",
        "options": {}
      },
      "id": "update-status",
      "name": "Update Status",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1360, 600],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-tner",
          "name": "Supabase TNER"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "tner_rental_change_logs",
        "fieldsToSend": "defineBelow",
        "fields": {
          "values": [
            {
              "name": "rental_id",
              "value": "={{ $('Prepare Status Change').first().json.existingRental.id }}"
            },
            {
              "name": "action",
              "value": "status_changed"
            },
            {
              "name": "field",
              "value": "rental_status"
            },
            {
              "name": "old_value",
              "value": "={{ $('Prepare Status Change').first().json.oldStatus }}"
            },
            {
              "name": "new_value",
              "value": "={{ $('Prepare Status Change').first().json.newStatus }}"
            },
            {
              "name": "changed_by",
              "value": "={{ $('Prepare Status Change').first().json.changed_by }}"
            },
            {
              "name": "note",
              "value": "={{ $('Prepare Status Change').first().json.note || 'Status changed via API' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "log-status-change",
      "name": "Log Status Change",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1580, 600],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-tner",
          "name": "Supabase TNER"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"action\": \"{{ $('Prepare Status Change').first().json.action }}\",\n  \"rental_id\": \"{{ $('Prepare Status Change').first().json.existingRental.id }}\",\n  \"old_status\": \"{{ $('Prepare Status Change').first().json.oldStatus }}\",\n  \"new_status\": \"{{ $('Prepare Status Change').first().json.newStatus }}\",\n  \"message\": \"Rental status updated successfully\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-status-success",
      "name": "Respond Success (Status)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1800, 600]
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "tner_rentals",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $('Parse Payload').first().json.rental_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-existing-rental-cancel",
      "name": "Get Rental for Cancel",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [920, 800],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-tner",
          "name": "Supabase TNER"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Prepare cancellation\nconst existingRental = $input.first().json;\nconst payload = $('Parse Payload').first().json;\n\nif (!existingRental || !existingRental.id) {\n  throw new Error('Rental not found: ' + payload.rental_id);\n}\n\nif (existingRental.rental_status === 'cancelled') {\n  throw new Error('Rental is already cancelled');\n}\n\nreturn [{\n  json: {\n    rental: existingRental,\n    xeroInvoiceId: existingRental.xero_invoice_id,\n    changed_by: payload.changed_by,\n    note: payload.note\n  }\n}];"
      },
      "id": "prepare-cancel",
      "name": "Prepare Cancel",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1140, 800]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.xero.com/connections",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "xeroOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "get-xero-tenants-cancel",
      "name": "Get Xero Tenants (Cancel)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1360, 800],
      "credentials": {
        "xeroOAuth2Api": {
          "id": "acPNCKWEdEc0gA8V",
          "name": "Xero account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Find ALWC tenant and prepare void request\nconst connections = $input.all();\nconst alwcConnection = connections.find(conn => \n  conn.json.tenantName && \n  (conn.json.tenantName.toUpperCase().includes('ALWC') || \n   conn.json.tenantName.toUpperCase().includes('TNER'))\n);\n\nif (!alwcConnection) {\n  throw new Error('ALWC/TNER tenant not found');\n}\n\nconst prevData = $('Prepare Cancel').first().json;\n\nreturn [{\n  json: {\n    tenantId: alwcConnection.json.tenantId,\n    xeroInvoiceId: prevData.xeroInvoiceId,\n    rental: prevData.rental,\n    changed_by: prevData.changed_by,\n    note: prevData.note\n  }\n}];"
      },
      "id": "find-tenant-cancel",
      "name": "Find Tenant (Cancel)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1580, 800]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.xero.com/api.xro/2.0/Invoices/{{ $json.xeroInvoiceId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "xeroOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xero-tenant-id",
              "value": "={{ $json.tenantId }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"Invoices\": [{\n    \"InvoiceID\": \"{{ $json.xeroInvoiceId }}\",\n    \"Status\": \"VOIDED\"\n  }]\n}",
        "options": {}
      },
      "id": "void-xero-invoice",
      "name": "Void Xero Invoice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1800, 800],
      "credentials": {
        "xeroOAuth2Api": {
          "id": "acPNCKWEdEc0gA8V",
          "name": "Xero account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "tner_rentals",
        "filterType": "string",
        "filterString": "=id=eq.{{ $('Prepare Cancel').first().json.rental.id }}",
        "fieldsToSend": "defineBelow",
        "fields": {
          "values": [
            {
              "name": "rental_status",
              "value": "cancelled"
            }
          ]
        },
        "options": {}
      },
      "id": "update-rental-cancelled",
      "name": "Update Rental Cancelled",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2020, 800],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-tner",
          "name": "Supabase TNER"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "tner_rental_change_logs",
        "fieldsToSend": "defineBelow",
        "fields": {
          "values": [
            {
              "name": "rental_id",
              "value": "={{ $('Prepare Cancel').first().json.rental.id }}"
            },
            {
              "name": "action",
              "value": "status_changed"
            },
            {
              "name": "field",
              "value": "rental_status"
            },
            {
              "name": "old_value",
              "value": "={{ $('Prepare Cancel').first().json.rental.rental_status }}"
            },
            {
              "name": "new_value",
              "value": "cancelled"
            },
            {
              "name": "changed_by",
              "value": "={{ $('Prepare Cancel').first().json.changed_by }}"
            },
            {
              "name": "note",
              "value": "={{ $('Prepare Cancel').first().json.note || 'Rental cancelled, Xero invoice voided' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "log-cancel",
      "name": "Log Cancel",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2240, 800],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-tner",
          "name": "Supabase TNER"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"action\": \"cancel\",\n  \"rental_id\": \"{{ $('Prepare Cancel').first().json.rental.id }}\",\n  \"xero_invoice_voided\": true,\n  \"message\": \"Rental cancelled and Xero invoice voided\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-cancel-success",
      "name": "Respond Success (Cancel)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [2460, 800]
    },
    {
      "parameters": {},
      "id": "sticky-overview",
      "name": "Workflow Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [200, 40],
      "parameters": {
        "content": "## TNER Rental Manager\n\n**Endpoint:** POST `/tner/rentals`\n\n**Actions:**\n- `create` - New rental + Xero invoice\n- `update` - Update rental details\n- `confirm` - Mark as confirmed\n- `prepare` - Mark as preparing\n- `deliver` - Mark as delivered\n- `pickup` - Mark as picked up\n- `return` - Mark as returned\n- `complete` - Mark as completed\n- `cancel` - Cancel + void Xero invoice"
      }
    },
    {
      "parameters": {},
      "id": "sticky-create",
      "name": "Create Flow",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [880, 60],
      "parameters": {
        "content": "## Create Flow\n1. Get Xero tenants\n2. Find ALWC/TNER tenant\n3. Prepare & upsert contact\n4. Build invoice with line items\n5. Create Xero invoice\n6. Save to Supabase\n7. Log change\n8. Respond"
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Parse Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Payload": {
      "main": [
        [
          {
            "node": "Route by Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Action": {
      "main": [
        [
          {
            "node": "Get Xero Tenants",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Existing Rental",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Rental for Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Rental for Cancel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Xero Tenants": {
      "main": [
        [
          {
            "node": "Find ALWC Tenant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find ALWC Tenant": {
      "main": [
        [
          {
            "node": "Prepare Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Contact": {
      "main": [
        [
          {
            "node": "Upsert Xero Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Xero Contact": {
      "main": [
        [
          {
            "node": "Prepare Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Invoice": {
      "main": [
        [
          {
            "node": "Create Xero Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Xero Invoice": {
      "main": [
        [
          {
            "node": "Prepare Supabase Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Supabase Record": {
      "main": [
        [
          {
            "node": "Insert Rental",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Rental": {
      "main": [
        [
          {
            "node": "Prepare Changelog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Changelog": {
      "main": [
        [
          {
            "node": "Log Change",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Change": {
      "main": [
        [
          {
            "node": "Respond Success (Create)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Existing Rental": {
      "main": [
        [
          {
            "node": "Prepare Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Update": {
      "main": [
        [
          {
            "node": "Update Rental",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Rental": {
      "main": [
        [
          {
            "node": "Respond Success (Update)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Rental for Status": {
      "main": [
        [
          {
            "node": "Prepare Status Change",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Status Change": {
      "main": [
        [
          {
            "node": "Update Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status": {
      "main": [
        [
          {
            "node": "Log Status Change",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Status Change": {
      "main": [
        [
          {
            "node": "Respond Success (Status)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Rental for Cancel": {
      "main": [
        [
          {
            "node": "Prepare Cancel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Cancel": {
      "main": [
        [
          {
            "node": "Get Xero Tenants (Cancel)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Xero Tenants (Cancel)": {
      "main": [
        [
          {
            "node": "Find Tenant (Cancel)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Tenant (Cancel)": {
      "main": [
        [
          {
            "node": "Void Xero Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Void Xero Invoice": {
      "main": [
        [
          {
            "node": "Update Rental Cancelled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Rental Cancelled": {
      "main": [
        [
          {
            "node": "Log Cancel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Cancel": {
      "main": [
        [
          {
            "node": "Respond Success (Cancel)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "executionTimeout": 300,
    "timezone": "Asia/Singapore"
  },
  "staticData": null,
  "meta": null,
  "pinData": null
}


