workflows/dev/admin/hoz-email-classifier-setup.json
{
  "name": "HOZ | Admin | email-classifier-setup [DEV]",
  "id": "tdf4cZpateqqLgKC",
  "versionCounter": 2,
  "updatedAt": "2025-12-07T07:04:37.000Z",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Run Once to Create Labels",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 304]
    },
    {
      "parameters": {
        "jsCode": "// Define all labels to create for HOZ email classifier\nconst labels = [\n  // Core labels\n  { name: 'HOZ-Processed' },\n  { name: 'Action-Required' },\n  \n  // Order categories\n  { name: 'Orders' },\n  { name: 'Orders/Website' },\n  { name: 'Orders/Shopee' },\n  { name: 'Orders/Lazada' },\n  { name: 'Orders/TikTok' },\n  \n  // Sales categories\n  { name: 'Sales' },\n  { name: 'Sales/Inquiry' },\n  { name: 'Sales/Lead' },\n  \n  // Operations categories\n  { name: 'Operations' },\n  { name: 'Operations/Installation' },\n  { name: 'Operations/Service' },\n  \n  // Finance categories\n  { name: 'Finance' },\n  { name: 'Finance/Invoice' },\n  { name: 'Finance/Payment' },\n  \n  // Other categories\n  { name: 'Government' },\n  { name: 'Promotions' },\n  { name: 'Promotions/Shopee' },\n  { name: 'Promotions/Lazada' },\n  { name: 'Promotions/TikTok' },\n  { name: 'Promotions/Marketplace' },\n  { name: 'Social' },\n  { name: 'Social/Carousell' },\n  { name: 'Social/Facebook' },\n  { name: 'Social/LinkedIn' },\n  { name: 'Spam' },\n  { name: 'Other' }\n];\n\nreturn labels.map(label => ({ json: label }));"
      },
      "id": "code-labels",
      "name": "Define Labels to Create",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [464, 304]
    },
    {
      "parameters": {
        "resource": "label"
      },
      "id": "gmail-get-existing",
      "name": "Get Existing Labels",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [688, 304],
      "credentials": {
        "gmailOAuth2": {
          "id": "wj7aNsMqDcoKmmAg",
          "name": "home@hoz account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Filter out labels that already exist\nconst labelsToCreate = $('Define Labels to Create').all();\nconst existingLabels = $('Get Existing Labels').all();\n\n// Build set of existing label names (case-insensitive)\nconst existingNames = new Set(\n  existingLabels.map(item => item.json.name.toLowerCase())\n);\n\n// Filter to only labels that don't exist\nconst newLabels = labelsToCreate.filter(item => \n  !existingNames.has(item.json.name.toLowerCase())\n);\n\nconsole.log('Existing labels:', existingLabels.length);\nconsole.log('Labels to create:', newLabels.length);\nconsole.log('New labels:', newLabels.map(l => l.json.name).join(', '));\n\nif (newLabels.length === 0) {\n  return [{ json: { message: 'All labels already exist!', created: 0 } }];\n}\n\nreturn newLabels;"
      },
      "id": "code-filter",
      "name": "Filter New Labels",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [912, 304]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-name",
              "leftValue": "={{ $json.name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-labels",
      "name": "Has Labels to Create?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 304]
    },
    {
      "parameters": {
        "resource": "label",
        "operation": "create",
        "name": "={{ $json.name }}",
        "options": {}
      },
      "id": "gmail-create-label",
      "name": "Create Gmail Label",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1344, 208],
      "credentials": {
        "gmailOAuth2": {
          "id": "wj7aNsMqDcoKmmAg",
          "name": "home@hoz account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconsole.log('✅ Created', items.length, 'labels');\nreturn [{ json: { message: 'Labels created successfully!', count: items.length } }];"
      },
      "id": "code-done",
      "name": "Done",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1568, 208]
    },
    {
      "parameters": {
        "jsCode": "console.log('✅ All labels already exist!');\nreturn $input.all();"
      },
      "id": "code-skip",
      "name": "All Labels Exist",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1344, 400]
    }
  ],
  "connections": {
    "Run Once to Create Labels": {
      "main": [[{ "node": "Define Labels to Create", "type": "main", "index": 0 }]]
    },
    "Define Labels to Create": {
      "main": [[{ "node": "Get Existing Labels", "type": "main", "index": 0 }]]
    },
    "Get Existing Labels": {
      "main": [[{ "node": "Filter New Labels", "type": "main", "index": 0 }]]
    },
    "Filter New Labels": {
      "main": [[{ "node": "Has Labels to Create?", "type": "main", "index": 0 }]]
    },
    "Has Labels to Create?": {
      "main": [
        [{ "node": "Create Gmail Label", "type": "main", "index": 0 }],
        [{ "node": "All Labels Exist", "type": "main", "index": 0 }]
      ]
    },
    "Create Gmail Label": {
      "main": [[{ "node": "Done", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}




