workflows/customer-service/tner-whatsapp-rag-secure.json
{
  "name": "TNER | Customer-service | whatsapp-rag-secure",
  "id": "8n8xqisIniv0cXNf",
  "versionCounter": 7,
  "updatedAt": "2025-12-06T06:43:07.975Z",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tner-whatsapp-secure",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "WhatsApp Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst signature = $request.headers['x-hub-signature-256'];\nconst rawBody = $request.rawBody || JSON.stringify($request.body);\nconst appSecret = 'YOUR_APP_SECRET';\nconst expectedSignature = 'sha256=' + crypto.createHmac('sha256', appSecret).update(rawBody).digest('hex');\nif (!signature) {\n  console.error('⚠️ SECURITY: No signature header');\n  throw new Error('Missing signature');\n}\nif (signature !== expectedSignature) {\n  console.error('🚨 SECURITY: Invalid signature - ATTACK DETECTED');\n  throw new Error('Invalid signature');\n}\nconsole.log('✓ Signature verified');\nreturn { verified: true, body: $request.body };"
      },
      "id": "verify-signature",
      "name": "🔐 Verify Signature",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json.body;\nconst message = body.entry?.[0]?.changes?.[0]?.value?.messages?.[0];\nif (!message) return { error: 'No message' };\nreturn { userId: message.from, message: message.text?.body, messageId: message.id, timestamp: new Date().toISOString() };"
      },
      "id": "extract-message",
      "name": "Extract Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    }
  ],
  "connections": {
    "WhatsApp Webhook": {"main": [[{"node": "🔐 Verify Signature", "type": "main", "index": 0}]]},
    "🔐 Verify Signature": {"main": [[{"node": "Extract Message", "type": "main", "index": 0}]]}
  },
  "settings": {
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "executionTimeout": 3600,
    "timezone": "UTC",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null
}
