workflows/utils/hoz-upload-json-to-supabase.json
{
  "name": "HOZ | Utils | upload-json-to-supabase",
  "id": "uTtEZvgZlexeJtFQ",
  "versionCounter": 7,
  "updatedAt": "2025-12-06T06:43:41.384Z",
  "active": true,
  "nodes": [
    {
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "parameters": {
        "path": "upload-hoz-products",
        "httpMethod": "POST",
        "responseMode": "lastNode"
      }
    },
    {
      "id": "parse-json",
      "name": "Parse Products",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const products = $input.item.json.products;\nreturn products.map(p => ({ json: p }));"
      }
    },
    {
      "id": "supabase-insert",
      "name": "Insert to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300],
      "parameters": {
        "url": "https://mflugfhpjpxuwnjrkrgp.supabase.co/rest/v1/hoz_customer_knowledge",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1mbHVnZmhwanB4dXduanJrcmdwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTcyNDE0NTY1MSwiZXhwIjoyMDM5NzIxNjUxfQ.F81DH_F6IiZiZWBl2YqKhbLSZrzN3wnDTy_JxPNQ9nk"},
            {"name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1mbHVnZmhwanB4dXduanJrcmdwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTcyNDE0NTY1MSwiZXhwIjoyMDM5NzIxNjUxfQ.F81DH_F6IiZiZWBl2YqKhbLSZrzN3wnDTy_JxPNQ9nk"},
            {"name": "Content-Type", "value": "application/json"},
            {"name": "Prefer", "value": "return=minimal"}
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ content: $json.content, category: $json.category, embedding: $json.embedding }) }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook": {"main": [[{"node": "Parse Products", "type": "main", "index": 0}]]},
    "Parse Products": {"main": [[{"node": "Insert to Supabase", "type": "main", "index": 0}]]}
  },
  "settings": {
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null
}
